<div class="container">
  <mat-drawer-container
    class="example-container"
    [class.hide]="!taskCount(taskQueueService.zipTasks())"
    autosize
  >
    <mat-drawer #drawer class="example-sidenav" mode="side" #rightSidenav>
      <ul>
        @for (task of taskQueueService.zipTasks() | keyvalue; track task) {
          <li class="task">
            <span>[{{ task.value.time }}] Zip Operation</span>
            <span>
              @if (task.value.canceled) {
                <div class="task__done">
                  <mat-icon> cancel </mat-icon>
                </div>
              } @else {
                @if (task.value.isDone) {
                  <div class="task__done">
                    <mat-icon>check_circle_outline</mat-icon>
                  </div>
                } @else if (task.value.isDone === null) {
                  <div class="task__done">
                    <mat-icon>error_outline</mat-icon>
                  </div>
                } @else {
                  <mat-spinner
                    class="task__processing"
                    diameter="16"
                  ></mat-spinner>
                }
              }
            </span>
          </li>
        }
      </ul>
    </mat-drawer>
  </mat-drawer-container>
  <button
    mat-icon-button
    (click)="taskQueueService.toggle()"
    matTooltip="Toggle Task Queue"
    class="toggle"
    [class.hide]="!taskCount(taskQueueService.zipTasks())"
  >
    <mat-icon>layers</mat-icon>
  </button>
  <div
    class="mat-badge-custom"
    matBadge="{{ taskCount(taskQueueService.zipTasks()) }}"
    matBadgeColor="primary"
    matBadgePosition="above after"
    matBadgeSize="medium"
  ></div>
</div>
