<div id="location_wrapper">
    <div id="location_input">
        <label for="geolocation" class="geolocation">
            <input id="hours" class="geolocation__input" #hoursInput [(ngModel)]="geolocation" autocomplete="off"
                readonly />
        </label>
        <label for="latitude" class="latitude">
            <span>lat</span>
            <input id="hours" class="latitude__input" #hoursInput [(ngModel)]="latitude" autocomplete="off" readonly />
        </label>
        <label for="longitude" class="longitude">
            <span>long</span>
            <input id="hours" class="longitude__input" #hoursInput [(ngModel)]="longitude" autocomplete="off"
                readonly />
        </label>
    </div>
</div>