<svg
  width="21px"
  height="21px"
  viewBox="0 0 16 16"
  xmlns="http://www.w3.org/2000/svg"
  fill="#22c55e"
  class="bi bi-play-btn-fill"
  style="display: flex; justify-content: center; align-items: center"
>
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"
  ></g>
  <g id="SVGRepo_iconCarrier">
    <path
      d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"
    ></path>
  </g>
</svg>
