.zip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 12px;
  overflow: hidden;

  hr {
    width: 90%;
  }

  &__title {
    margin: 8px;
    padding: 0;
    align-self: center;
    font-size: 26px;
  }

  &__duration {
    display: grid;
    justify-items: center;
    margin-bottom: 8px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    &-text {
      font-weight: 700;
      text-align: left;
    }
    &-time {
      text-align: right;
      font-size: 12.5px;
      font-family: Roboto;
      font-weight: 800;
    }
  }

  &__form {
    padding: 16px;
    margin: 4px;
    border-radius: 16px;
    background-color: rgb(53, 53, 58);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;

    &__resize,
    &__on-duty,
    &__fill {
      width: 100%;
      &__input {
        transform: scale(0.9);
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 32px 1fr;
        align-items: center;
        // justify-content: center;
        gap: 8px;
        margin: 0;
        font-size: 12.5px;
        font-family: Roboto;
        margin-top: -1px;
        &-label {
          color: rgb(229, 225, 230);
          text-align: left;
          padding-left: 24px;
        }

        &-unit {
          color: rgb(229, 225, 230);
          text-align: left;
        }
      }
      &__inner-check {
        width: 100%;
        transform: scale(0.85);
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        margin-top: -8px;
        align-items: flex-start;
      }
    }

    &__shift {
      width: 100%;

      margin: 0;
      padding: 0;

      &__radio-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 38px;
        margin-bottom: -12px;
        span {
          padding-left: 5px;
        }
      }
    }

    &__post-zip {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__delete {
      text-align: left;
      width: 100%;
      min-height: 40px;
      &-toggle {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__text {
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 180px;
        overflow-y: auto;
        &-item {
          font-size: 12px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 0;
          margin: 0;
          gap: 16px;
          &__status {
            font-weight: 700;
            text-align: left;
          }
          &__time {
            text-align: right;
          }
        }
      }
    }
  }

  &__buttons {
    margin-top: 12px;
    button {
      margin: 0 8px;
      width: 120px;
    }
  }
}

input {
  width: 28px;
  height: 28px;
  border: none;
  font-size: 12.5px;
  font-family: Roboto;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  color: rgb(229, 225, 230);
  background-color: rgb(70, 70, 79);
  cursor: alias;
}

mat-checkbox {
  transform: scale(0.9);
}
mat-radio-group {
  transform: scale(0.8);
  mat-radio-button {
    margin-top: -8px;
  }
}
