<div class="zip">
  <h1 class="zip__title">{{ zipService.title() }}</h1>

  @if (data.zipData$ | async; as data) {
    @if (zipService.resize() || zipService.shift()) {
      <div class="zip__duration">
        <span class="zip__duration-text">selected range duration: </span>
        <span class="zip__duration-shift">{{
          data.selectedRangeDuration.shift
        }}</span>
        <span class="zip__duration-drive">{{
          data.selectedRangeDuration.drive.slice(0, -3)
        }}</span>

        <span class="zip__duration-text">estemated zipped duration:</span>
        <span class="zip__duration-shift estemated">{{
          zipService.estimatedZippedDuration().shift.slice(0, -3)
        }}</span>
        <span class="zip__duration-drive estemated">{{
          zipService.estimatedZippedDuration().drive.slice(0, -3)
        }}</span>
        <span></span>
        <span class="zip__duration-saved">
          {{
            this.timeSaved().shift !== "00:00"
              ? `+${this.timeSaved().shift} `
              : ""
          }}
        </span>
        <span class="zip__duration-saved">
          {{
            this.timeSaved().drive !== "00:00"
              ? `+${this.timeSaved().drive} `
              : ""
          }}
        </span>
      </div>
    }

    <div class="zip__form">
      <!--  -->
      <!-- RESIZE -->
      <div class="zip__form__resize">
        <mat-checkbox
          class="zip__form__resize__checkbox"
          [(ngModel)]="zipService.resize"
          >Resize</mat-checkbox
        >
      </div>

      <!-- [resize] speed -->
      @if (zipService.resize()) {
        <div class="zip__form__resize">
          <div
            class="zip__form__resize__input"
            [class.disabled]="!zipService.resize()"
          >
            <span class="zip__form__resize__input-label"
              >resize average speed</span
            >
            @if (zipService.resize()) {
              <input
                type="text"
                #speedInput
                (wheel)="onMouseWheel($event, 'speedInput')"
                [(ngModel)]="zipService.resizeSpeed"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__resize__input-unit">mph</span>
          </div>

          <!-- [resize] maximum speed deviation -->
          <div
            class="zip__form__resize__input"
            [class.disabled]="!zipService.resize()"
          >
            <span class="zip__form__resize__input-label"
              >maximum speed deviation</span
            >
            @if (zipService.resize()) {
              <input
                type="text"
                #maxSpeedDeviationInput
                (wheel)="onMouseWheel($event, 'maxSpeedDeviationInput')"
                [(ngModel)]="zipService.maxSpeedDeviation"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__resize__input-unit">mph</span>
          </div>

          <!-- [resize] duration -->
          <div
            class="zip__form__resize__input"
            [class.disabled]="!zipService.resize()"
          >
            <span class="zip__form__resize__input-label"
              >minimum driving duration</span
            >
            @if (zipService.resize()) {
              <input
                type="text"
                #drivingDurationInput
                (wheel)="onMouseWheel($event, 'drivingDurationInput')"
                [(ngModel)]="zipService.resizeMinDuration"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__resize__input-unit">min</span>
          </div>

          <!-- apply only for time frames / resizeReductionTrashhold -->
          <div
            class="zip__form__resize__input"
            [class.disabled]="!zipService.resize()"
          >
            <span class="zip__form__resize__input-label"
              >apply only if duration <br />
              is reduced by more than</span
            >
            @if (zipService.resize()) {
              <input
                type="text"
                #resizeReductionTrashholdInput
                (wheel)="onMouseWheel($event, 'resizeReductionTrashholdInput')"
                [(ngModel)]="zipService.resizeReductionTrashhold"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__resize__input-unit">min</span>
          </div>
        </div>
      }

      <hr />

      <!--  -->
      <!-- SHIFT -->
      <div class="zip__form__shift">
        <mat-checkbox
          class="zip__form__shift__checkbox"
          [(ngModel)]="zipService.shift"
          [disabled]="!!zipService.fill() && zipService.resize()"
          >Shift</mat-checkbox
        >
      </div>
      @if (zipService.shift()) {
        <mat-radio-group
          class="zip__form__shift__radio-btns"
          [disabled]="!zipService.shift()"
          [(ngModel)]="zipService.selectedDirection"
        >
          <mat-radio-button [value]="1"><span>Forward</span></mat-radio-button>
          <mat-radio-button [value]="0"><span>Backward</span></mat-radio-button>
        </mat-radio-group>
        <!-- apply only for time frames / shiftTimeFrame -->
        <div
          class="zip__form__on-duty__input"
          [class.disabled]="!zipService.shift()"
        >
          <span class="zip__form__on-duty__input-label"
            >apply only for <br />
            time frames greater then</span
          >
          @if (zipService.shift()) {
            <input
              type="text"
              #shiftTimeFrameInput
              (wheel)="onMouseWheel($event, 'shiftTimeFrameInput')"
              [(ngModel)]="zipService.shiftMinTimeFrame"
              autocomplete="off"
              readonly
            />
          } @else {
            <input type="text" value="-" disabled />
          }
          <span class="zip__form__on-duty__input-unit">min</span>
        </div>
        <!-- [shift] On Duty duration -->
        <div class="zip__form__on-duty">
          <div
            class="zip__form__on-duty__input"
            [class.disabled]="!zipService.shift()"
          >
            <span class="zip__form__on-duty__input-label"
              >On Duty minimal duration</span
            >
            @if (zipService.shift()) {
              <input
                type="text"
                #onDutyDurationInput
                (wheel)="onMouseWheel($event, 'onDutyDurationInput')"
                [(ngModel)]="zipService.zippedOnDutyDuration"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__on-duty__input-unit">min</span>
          </div>

          <!-- add Engine Off events -->
          <div
            class="zip__form__on-duty__input"
            [class.disabled]="
              !zipService.shift() || !zipService.preformSmartFix()
            "
          >
            <span class="zip__form__on-duty__input-label"
              >add Engine Off if the vehicle remains idle for more than</span
            >
            @if (zipService.shift() && zipService.preformSmartFix()) {
              <input
                type="text"
                #engineOffIdleTimeSpawnInput
                (wheel)="onMouseWheel($event, 'engineOffIdleTimeSpawnInput')"
                [(ngModel)]="zipService.engineOffIdleTimeSpawn"
                autocomplete="off"
                readonly
              />
            } @else {
              <input type="text" value="-" disabled />
            }
            <span class="zip__form__on-duty__input-unit">min</span>
          </div>
          <div class="zip__form__on-duty__inner-check">
            <mat-checkbox
              class="zip__form__on-duty__checkbox"
              [(ngModel)]="zipService.shiftBreak"
              [disabled]="!zipService.shift()"
              >include 30-min break</mat-checkbox
            >
          </div>
        </div>
      }

      <hr />

      <!-- fill gaps -->
      <div class="zip__form__shift">
        <mat-checkbox
          class="zip__form__shift__checkbox"
          [(ngModel)]="zipService.fill"
          [disabled]="zipService.shift() || !zipService.resize()"
          >Fill resize gaps</mat-checkbox
        >
      </div>

      @if (zipService.fill()) {
        <mat-radio-group
          class="zip__form__shift__radio-btns"
          [disabled]="
            zipService.shift() || !zipService.fill() || !zipService.resize()
          "
          [(ngModel)]="zipService.fillOption"
        >
          <mat-radio-button [value]="1"><span>Off Duty</span></mat-radio-button>
          <mat-radio-button [value]="0"
            ><span>Sleeper Berth</span></mat-radio-button
          >
        </mat-radio-group>

        <div
          class="zip__form__fill__input"
          [class.disabled]="!zipService.fill()"
        >
          <span class="zip__form__fill__input-label"
            >apply only for gaps greater then</span
          >
          @if (zipService.fill() && zipService.resize()) {
            <input
              type="text"
              #gapDurationInput
              (wheel)="onMouseWheel($event, 'gapDurationInput')"
              [(ngModel)]="zipService.gapMinDuration"
              autocomplete="off"
              readonly
            />
          } @else {
            <input type="text" value="-" disabled />
          }
          <span class="zip__form__fill__input-unit">min</span>
        </div>
      }

      <hr />

      <!-- post-zip -->
      @if (zipService.resize() || zipService.shift()) {
        <div class="zip__form__post-zip">
          <mat-checkbox
            class="zip__form__post-zip__checkbox"
            [(ngModel)]="zipService.preformSmartFix"
            [labelPosition]="'before'"
            >Smart Fix</mat-checkbox
          >
        </div>
      }
    </div>

    <!-- events to delete -->
    <div class="zip__form__delete">
      @if (data.eventsToDelete.length && zipService.shift()) {
        @if (showEventsToDelete()) {
          <div class="zip__form__delete-toggle">
            <span class="zip__form__delete-toggle__text"
              >Events to delete:</span
            >
            <button mat-button (click)="showEventsToDelete.set(false)">
              Hide
            </button>
          </div>
          <ul class="zip__form__delete__list">
            @for (delEvent of data.eventsToDelete; track delEvent.id) {
              <li class="zip__form__delete__list-item">
                <span class="zip__form__delete__list-item__index"
                  >{{ delEvent.viewId }}.</span
                >
                <span class="zip__form__delete__list-item__time">{{
                  delEvent.realStartTime | date: "h:mm a"
                }}</span>
                <span class="zip__form__delete__list-item__status">{{
                  delEvent.statusName
                }}</span>
              </li>
            }
          </ul>
        } @else {
          <div class="zip__form__delete-toggle">
            <span class="zip__form__delete-toggle__text"
              >[{{ data.eventsToDelete.length }}] Events will be deleted.</span
            >
            <button mat-button (click)="showEventsToDelete.set(true)">
              Show
            </button>
          </div>
        }
      }
    </div>

    <div class="zip__form__buttons">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button
        matButton="outlined"
        color="primary"
        cdkFocusInitial
        (click)="onProceed(data)"
        [disabled]="!zipService.resize() && !zipService.shift()"
      >
        Proceed
      </button>
    </div>
  } @else {
    <mat-spinner class="spinner" diameter="60"></mat-spinner>
  }
</div>
