.zip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 12px;
  overflow: hidden;

  hr {
    width: 90%;
  }

  &__title {
    margin: 8px;
    padding: 0;
    align-self: center;
    font-size: 26px;
  }

  &__duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    &-time {
      font-size: 12.5px;
      font-family: Roboto;
      font-weight: 800;
    }
  }

  &__form {
    padding: 16px;
    margin: 4px;
    border-radius: 16px;
    background-color: rgb(53, 53, 58);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;

    &__resize,
    &__on-duty,
    &__fill {
      width: 100%;
      &__input {
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 32px 1fr;
        align-items: center;
        // justify-content: center;
        gap: 8px;
        margin: 2px 0;
        font-size: 12.5px;
        font-family: Roboto;

        &-label {
          color: rgb(229, 225, 230);
          text-align: left;
          padding-left: 24px;
        }

        &-unit {
          color: rgb(229, 225, 230);
          text-align: left;
        }
      }
    }

    &__shift {
      width: 100%;

      margin: 0;
      padding: 0;

      &__radio-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 38px;
        span {
          padding-left: 5px;
        }
      }
    }

    &__post-zip {
      margin-top: 28px;
    }
  }

  &__delete {
    text-align: left;
    width: 100%;
    h3 {
      font-size: 18px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    li {
      width: 60%;
      display: grid;
      grid-template-columns: 140px 80px;
      padding: 0;
      margin: 0;
      :last-child {
        text-align: right;
      }
    }
  }
  &__buttons {
    margin-top: 12px;
    button {
      margin: 0 8px;
      width: 120px;
    }
  }
}

input {
  width: 32px;
  height: 32px;
  border: none;
  font-size: 12.5px;
  font-family: Roboto;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  color: rgb(229, 225, 230);
  background-color: rgb(70, 70, 79);
  cursor: alias;
}

mat-checkbox,
mat-radio-group {
  transform: scale(0.9);
}
