.zip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 12px;
  overflow: hidden;

  .spinner {
    margin: 24px;
  }

  hr {
    width: 90%;
  }

  &__title {
    margin: 0 0 8px;
    padding: 0;
    align-self: center;
    font-size: 26px;
  }

  &__duration {
    display: grid;
    font-size: 12px;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    height: 20px;
    align-items: center;
    margin: 4px 0;

    &-text {
      text-align: right;
    }
    &-time {
      text-align: left;
      font-size: 14px;
      font-family: Roboto;
      font-weight: 800;
    }
  }

  &__form {
    padding: 8px;
    margin: 4px;
    border-radius: 16px;
    background-color: rgb(53, 53, 58);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;

    &__resize,
    &__on-duty,
    &__fill {
      width: 100%;
      &__input {
        transform: scale(0.9);
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 28px 1fr;
        align-items: center;

        gap: 6px;
        margin: 0;
        font-size: 12.5px;
        line-height: 12.5px;
        font-family: Roboto;
        margin-top: -1px;
        &-label {
          color: rgb(229, 225, 230);
          text-align: left;
          padding-left: 24px;
        }

        &-unit {
          color: rgb(229, 225, 230);
          text-align: left;
        }
      }

      &__inner-check {
        width: 100%;
        transform: scale(0.85);
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-top: -8px;
        align-items: flex-start;
      }
    }

    &__shift {
      width: 100%;

      margin: 0;
      padding: 0;

      &__radio-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 38px;
        margin-bottom: -12px;
        span {
          padding-left: 5px;
        }
      }
    }

    &__post-zip {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__delete {
      text-align: left;
      width: 100%;
      min-height: 40px;
      margin: 8px 0;
      &-toggle {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__text {
          font-size: 15px;
          font-weight: 700;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 150px;
        width: 100%;
        overflow-y: auto;
        &-item {
          font-size: 12px;
          display: grid;
          grid-template-columns: 30px 1fr 3fr;
          padding: 0;
          margin: 0;
          gap: 16px;
          margin-left: 64px;
          &__index {
            text-align: left;
            margin-left: 16px;
          }
          &__status {
            font-weight: 700;
            text-align: left;
          }
          &__time {
            text-align: right;
          }
        }
      }
    }

    &__buttons {
      margin-top: 12px;
      button {
        margin: 0 8px;
        width: 100px;
      }
    }
  }
}

input {
  width: 32px;
  height: 32px;
  border: none;
  font-size: 12.5px;
  font-family: Roboto;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  color: rgb(229, 225, 230);
  background-color: rgb(70, 70, 79);
  cursor: alias;
}

mat-checkbox {
  transform: scale(0.9);
}
mat-radio-group {
  transform: scale(0.8);
  mat-radio-button {
    margin-top: -5px;
  }
}
.zip__form__resize__input.disabled .zip__form__resize__input-label,
.zip__form__on-duty__input.disabled .zip__form__on-duty__input-label,
.zip__form__fill__input.disabled .zip__form__fill__input-label,
.zip__form__resize__input.disabled .zip__form__resize__input-unit,
.zip__form__on-duty__input.disabled .zip__form__on-duty__input-unit,
.zip__form__fill__input.disabled .zip__form__fill__input-unit {
  color: rgb(229, 225, 230, 0.5);
}
