.dialog {
  &__title {
    display: flex;
    align-items: center;

    :first-child {
      margin-top: 6px;
      margin-left: 22px;
      margin-right: 8px;
      padding: 0;
    }

    h1 {
      margin-left: 0;
      padding-left: 0;
    }
  }

  &__content {
    &-info {
      padding-left: 8px;
    }
    &-warning {
      text-align: center;
      color: rgb(239 68 68);
    }
    &-message {
      margin-top: 16px;
    }
  }
}
