<div class="settings">
  <h2 class="settings__title">Settings</h2>

  <div class="settings__header">
    <mat-button-toggle-group
      class="settings__header-toggle"
      [value]="view()"
      (change)="view.set($event.value)"
      hideSingleSelectionIndicator
    >
      <mat-button-toggle value="general">
        <mat-icon>settings</mat-icon>
        General
      </mat-button-toggle>
      <mat-button-toggle value="scan">
        <mat-icon>document_scanner</mat-icon>
        Scan
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="settings__container">
    <!-- General -->
    @if (view() === "general") {
    <div class="card settings__card">
      <div class="card__label">General</div>

      <mat-form-field class="settings__field">
        <mat-label>Limit number of pending requests to</mat-label>
        <mat-select [(ngModel)]="constantsService.httpLimit">
          <mat-option [value]="1"> 1</mat-option>
          <mat-option [value]="2"> 2</mat-option>
          <mat-option [value]="3"> 3</mat-option>
          <mat-option [value]="4"> 4</mat-option>
          <mat-option [value]="5"> 5</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="settings__field">
        <mat-label>Pre-Trip Inspection default name</mat-label>
        <input
          matInput
          placeholder="Pre-Trip Inspection"
          [(ngModel)]="constantsService.ptiName"
        />
      </mat-form-field>

      <div class="settings__row">
        <p class="settings__row-label">Open extension window on</p>
        <mat-radio-group
          class="settings__row-radio"
          [(ngModel)]="constantsService.rightSide"
        >
          <mat-radio-button [value]="false">Left side</mat-radio-button>
          <mat-radio-button [value]="true">Right side</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-checkbox [(ngModel)]="constantsService.showLocationDisplayName">
        show Location Display Name
      </mat-checkbox>

      <mat-checkbox [(ngModel)]="constantsService.disableSmartFixOnCoDrivers">
        disable SmartFix button on co-drivers
      </mat-checkbox>

      <div class="settings__keybinds-button">
        <button matButton="tonal" (click)="openShortcuts()">
          Keyboard Shortcuts
        </button>
      </div>
    </div>
    }

    <!-- Scan settings -->
    @if (view() === "scan") {
    <div class="card settings__card">
      <div class="card__label">Scan Settings</div>

      <h4 class="settings__subhead">Violations</h4>
      <mat-slide-toggle
        class="toggle--small"
        [(ngModel)]="scanService.autoScan"
      >
        <span class="toggle__label">Enable Auto-Scan</span>
      </mat-slide-toggle>
      <mat-checkbox [(ngModel)]="scanService.autofocus">
        Autofocus results on detection
      </mat-checkbox>

      <h4 class="settings__subhead">Smart Fix</h4>
      <mat-checkbox [(ngModel)]="globalSmartfFixService.excludeCoDrivers">
        exclude co-drivers
      </mat-checkbox>

      <h4 class="settings__subhead">Log Certification</h4>
      <mat-checkbox [(ngModel)]="certScanService.certifyOnlyWorkingDays">
        only certify driver's working days
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="certScanService.doNotCertPastLastWorkDay"
        [disabled]="certScanService.certifyOnlyWorkingDays()"
      >
        do not certify days past driver's last day worked
      </mat-checkbox>

      <h4 class="settings__subhead">Admin Portal</h4>
      <div class="settings__slider">
        <mat-label>last recorded activity</mat-label>
        <mat-slider class="slider" [max]="180" [min]="1" [step]="1">
          <input
            matSliderThumb
            [(ngModel)]="progressBarService.adminLastActivity"
          />
        </mat-slider>
        <mat-label>< {{ progressBarService.adminLastActivity() }}min</mat-label>
      </div>
      <div class="settings__slider">
        <mat-label>ELD unplugged duration</mat-label>
        <mat-slider class="slider" [max]="8" [min]="1" [step]="1">
          <input
            matSliderThumb
            [(ngModel)]="progressBarService.adminELDUnplugged"
          />
        </mat-slider>
        <mat-label>< {{ progressBarService.adminELDUnplugged() }}h</mat-label>
      </div>

      <h4 class="settings__subhead">Analysis Parameters</h4>
      <app-advanced-scan></app-advanced-scan>
    </div>
    }
  </div>
</div>
