.settings {
  width: calc(100vw - 42px);
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 18px;

  &__title {
    margin: 12px 0;
  }

  &__container {
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    align-items: center;
    gap: 16px;
    hr {
      width: 90%;
    }
    span {
      margin: 8px 0;
    }

    &__side {
      width: 90%;
      p {
        padding-left: 16px;
      }
      margin: 12px;
    }

    &__speed {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      p {
        padding-left: 16px;
      }
      &-form {
        width: 80%;
        padding-left: 8px;
      }
    }

    &__location {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 16px;
    }

    &__keybinds {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 8px;
      padding: 0;
      margin: 0;
      &__item {
        display: grid;
        width: 280px;
        grid-template-columns: 110px 55px 55px;
        column-gap: 12px;
        &-name {
          text-align: right;
          padding-right: 38px;
        }
        input {
          border-radius: 8px;
        }
      }
    }
  }
}
