.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;

  .info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    &__not-live {
      margin-top: 30px;
      width: 200px;
    }
    &__company {
      font-size: 20px;
      margin: 3px;
    }
    &__driver-name {
      font-size: 16px;
      margin: 12px 0px;
    }
    &__date {
      margin: 1px;
    }
  }

  .event-list {
    font-weight: 400;
    margin-bottom: 16px;
    overflow-y: auto;
    width: 100%;
    max-width: 440px;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        .event {
          display: grid;
          grid-template-columns: 30px 58px 100px minmax(45px, auto) 1fr;
          align-items: center;
          width: 100%;

          .view-id {
            padding: 3px;
            margin: 0px 3px;
            text-align: right;
          }

          .odometer {
            padding: 3px;
            text-align: right;
          }

          .error {
            border: 2px solid red;
            padding: 1px;
          }

          .approved {
            border: 2px solid green;
            padding: 1px;
          }

          .status {
            font-size: 11px;
            margin: 1px 5px;
            padding: 3px;
            border-radius: 12px;
            width: 85px;
            text-align: center;
          }

          .duration {
            margin: 0px 5px;
            white-space: pre-wrap;
          }

          .note {
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}

.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}

.ChangeToDrivingStatus {
  background-color: rgb(34, 197, 94);
  color: black;
}

.ChangeToSleeperBerthStatus {
  background-color: rgb(234, 179, 8);
  color: black;
}

.ChangeToOffDutyStatus {
  background-color: rgb(3, 7, 18);
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision,
.EnginePowerUpConventionalLocationPrecision,
.EnginePowerUpReducedLocationPrecision,
.EngineShutDownConventionalLocationPrecision,
.EngineShutDownReducedLocationPrecision {
  background-color: rgb(107 114 128);
}
