.context-container {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.content {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  scroll-margin-right: 10px;

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #cecece48;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    &__not-live {
      margin-top: 30px;
      width: 200px;
    }
  }

  .absolute {
    position: absolute;
    right: 10px;
    &.refresh {
      top: 10px;
    }
    &.menu {
      top: 58px;
      .mat-badge-custom {
        .mat-badge-content {
          z-index: 1000000000;
          background: #343eff54;
          color: white;
        }
      }
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .spinner {
        padding: 3.5px;
      }
    }
  }

  .event-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 476px;
    font-weight: 400;
    overflow: hidden;
    overflow-y: overlay;

    .left {
      text-align: left;
      margin-bottom: 0;
      padding-left: 30px;
    }
    .right {
      text-align: right;
      margin-bottom: 0;
      padding-right: 30px;
    }

    hr {
      width: 87vw;
      margin: 0 0 4px 0;
    }

    ul {
      overflow: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      list-style: none;
      padding: 0px;
      margin: 0px;
      width: 100%;
      .co-drivers {
        display: flex;
        flex-direction: column;
        .left {
          text-align: left;
          margin-bottom: 0;
          padding-left: 30px;
        }
        .right {
          text-align: right;
          margin-bottom: 0;
          padding-right: 30px;
        }

        hr {
          width: 87vw;
          margin: 0 0 4px 16px;
        }
      }
      li {
        margin-left: 6px;

        .event {
          display: grid;
          grid-template-columns: 30px 58px 100px 45px 1fr;
          width: 100%;
          align-items: center;
          justify-items: center;

          .view-id {
            width: 100%;
            padding: 4.6px 1px 4.6px 8px;
            // margin: 0px 3px;
            text-align: left;
          }

          .view-id.err {
            border-left: 4px solid red;
            padding-left: 2px;
            margin-left: 2px;
          }

          .odometer {
            padding: 0 3px;
            text-align: right;
            &.input {
              width: 62px;
              margin-right: 13px;
            }
            &.copy {
              cursor: copy;
            }
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          .error {
            border: 2px solid red;
            border-left: 4px solid red;
            padding: 1px;
            margin: 1px 2px 0 0;
          }

          .warn {
            padding: 0px;
            margin: 1px 0 0 5px;
            // background-color: yellow;
            border-right: 5px solid yellow;
            background-color: yellow;
            color: black;
            font-weight: 500;
          }

          .approved {
            border: 2px solid green;
            padding: 1px;
          }

          .status {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            margin: 1px 5px;
            padding: 4px 3px;
            border-radius: 12px;
            width: 85px;
            text-align: center;
            align-self: center;
            cursor: pointer;
          }

          .input {
            border: none;
          }

          .input:focus {
            outline: none;
          }

          .status-note {
            border-radius: 4px;
            font-weight: 700;
            margin: 1px 4px;
            padding: 3px;
            border: 1px solid #eaeaea;
          }

          .duration {
            justify-self: start;
          }

          .note {
            justify-self: start;
            line-height: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.edit {
              grid-column: 1 / -1;
            }
            // &__clock {
            // transform: scale(0.5);
            // }
          }

          .on-hover {
            display: none;
          }
        }

        .event .note.edit:host {
          grid-template-columns: 30px 58px 100px auto;
        }

        .slider {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          mat-slider {
            width: 90%;
          }
        }

        .fix-error {
          display: flex;
          width: 100%;
          overflow: hidden;
          justify-content: space-around;

          &__icon {
            transform: scale(0.8);
            align-self: center;
          }
          &__button,
          &__red-button {
            width: 36%;
            display: grid;
            grid-template-columns: 30px auto;
            align-items: center;
            justify-items: start;
            font-size: 12px;
            border-radius: 4px;
            background-color: rgb(33, 33, 36);
            margin: 3px 5px;
            padding: 2px 4px;
            border: 1px solid rgb(82, 82, 82);

            &.wide {
              width: 60%;
              padding: 0 4px;
              margin: 2px auto 2px 33px;
            }

            &__icon {
              display: flex;
              align-items: center;
              justify-content: center;

              &-rotate {
                transform: rotate(90deg);
              }
            }
            &__spinner {
              padding: 3.5px;
            }
            &__name {
              align-self: center;
              text-align: left;
            }
          }
          &__button:hover {
            background-color: rgb(63, 63, 68);
            border-left: 1px solid rgb(1, 134, 50);
            -webkit-box-shadow: -14px -1px 14px -6px rgba(55, 202, 75, 0.5);
            box-shadow: -14px -1px 14px -6px rgba(55, 202, 75, 0.5);
            cursor: pointer;
          }

          &__red-button:hover {
            background-color: rgb(63, 63, 68);
            border-right: 1px solid #ef4444;
            cursor: pointer;
          }
        }

        .event:hover .on-hover {
          display: block;
        }

        .event:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
          background-color: rgba(53, 53, 58, 0.333);
        }
      }
    }
  }
}

.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}
.ChangeToOnDutyNotDrivingStatus-E,
.ChangeToOnDutyNotDrivingStatus-CR {
  border: solid 1px #3b82f6;
}

.ChangeToDrivingStatus {
  background-color: hsl(142, 71%, 45%);
  color: black;
}
.ChangeToDrivingStatus-E,
.ChangeToDrivingStatus-CR {
  border: solid 1px #22c55e;
}

.ChangeToSleeperBerthStatus {
  background-color: #e7b008;
  color: black;
}

.ChangeToOffDutyStatus {
  background-color: #030712;
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision,
.EnginePowerUpConventionalLocationPrecision,
.EnginePowerUpReducedLocationPrecision,
.EngineShutDownConventionalLocationPrecision,
.EngineShutDownReducedLocationPrecision {
  background-color: rgb(107 114 128);
}
.DataDiagnostic,
.DataDiagnosticClear,
.DriverIndicationAuthorizedPersonalUseCmv,
.DriverIndicationYardMoves,
.DriverIndicationClear,
.VehicleStartOfDay {
  border: solid 1px rgb(107 114 128);
  padding: 1px;
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.green {
  -webkit-box-shadow: -14px -1px 14px -8px rgba(55, 202, 75, 0.5);
  box-shadow: -14px -1px 14px -8px rgba(55, 202, 75, 0.5);
}

.advanced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 36px;
}

.editing {
  background-color: rgba(106, 106, 116, 0.333);
}

.selected {
  background-color: rgba(29, 29, 177, 0.444);
}

.shift {
  background: linear-gradient(
    -90deg,
    hsla(142, 71%, 45%, 0.3) 0%,
    #ff930f00 40%
  );
}
// .shift.co-driver {
//   background: linear-gradient(
//     90deg,
//     hsla(142, 71%, 45%, 0.3) 0%,
//     #ff930f00 10%
//   );
// }
.ten-hour-break {
  background: linear-gradient(-90deg, rgb(231, 175, 8, 0.8) 0%, #fbff0b00 30%);
}
// .ten-hour-break.co-driver {
//   background: linear-gradient(90deg, rgb(231, 175, 8, 0.8) 0%, #fbff0b00 10%);
// }
.cycle-break {
  background: linear-gradient(-90deg, rgb(3, 7, 18) 0%, #ff930f00 100%);
}
// .cycle-break.co-driver {
//   background: linear-gradient(90deg, rgb(3, 7, 18) 0%, #ff930f00 10%);
// }

.highlighted {
  background-color: rgba(72, 72, 78, 0.333);
  &.resize {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .mph {
      display: grid;
      width: 100%;
      margin: 1px 0px;

      font-size: 9px;
      grid-template-columns: 3fr 8fr 3fr 8fr 3fr;
      align-items: center;
      justify-items: center;

      &__col {
        text-align: center !important;
      }
    }
  }
}
