.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  height: 100%;

  .event-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-weight: 400;

    ul {
      li {
        .event {
          display: flex;
          align-items: center;
          gap: 12px;

          .error {
            border: 1px solid red;
            padding: 1px;
          }

          .status {
            font-size: 11px;
            margin: 1px;
            padding: 3px;
            border-radius: 12px;
            width: 85px;
            text-align: center;
          }
        }
      }
    }
  }
}

.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}

.ChangeToDrivingStatus {
  background-color: rgb(34, 197, 94);
  color: black;
}

.ChangeToSleeperBerthStatus {
  background-color: rgb(234, 179, 8);
  color: black;
}

.ChangeToOffDutyStatus {
  background-color: rgb(3, 7, 18);
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision,
.EnginePowerUpConventionalLocationPrecision,
.EnginePowerUpReducedLocationPrecision,
.EngineShutDownConventionalLocationPrecision,
.EngineShutDownReducedLocationPrecision {
  background-color: rgb(107 114 128);
}
