<div class="content">

    @if (driverDailyLogEvents(); as ddle) {
    <div class="driver-info">
        <h2>## {{ddle.companyName}}</h2>
        <p>{{ddle.driverFullName}}</p>
        <p>{{ddle.date | date: 'MMM d, y' }}</p>
    </div>

    <div class="event-list">
        <ul>
            @for (event of events(); track event.id) {
            <li>
                <div class="event">
                    <span class="startTime">{{event.startTime | date: 'hh:mm a' }}</span>
                    <span
                        [ngClass]="'odometer ' + (event.isTeleport ? 'error' : '') + (event.truckChange ? 'approved' : '')">{{event.odometer}}</span>
                    <p [ngClass]="'status ' + event.dutyStatus">{{event.statusName}}</p>
                    <span>{{event.durationInSeconds ? (event.durationInSeconds * 1000 | date:'HH:mm':'UTC') :
                        ''}}</span>
                    <span>{{event.notes}}</span>
                </div>
            </li>

            }
        </ul>
    </div>
    }
</div>