<div class="content">
  @if (monitorService.driverDailyLog(); as ddle) {
  <button
    mat-icon-button
    matTooltip="Refresh"
    matTooltipPosition="left"
    class="refresh"
    (click)="refresh()"
    [disabled]="refreshBtnDisabled()"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    [cdkMenuTriggerFor]="menu"
    mat-icon-button
    (click)="toggleToolMenu()"
    class="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <ng-template #menu>
    <div class="tool-menu" cdkMenu>
      <ul>
        <li
          (click)="handleContextMenuAction('DELETE_ENGINES_IN_DRIVING')"
          class="tool-menu__item"
          cdkMenuItem
          matRipple
        >
          <mat-icon>delete_outline</mat-icon>
          <span class="tool-menu__item__name"
            >delete Engine events during Driving</span
          >
        </li>

        <li
          (click)="handleContextMenuAction('DELETE_ALL_ENGINES')"
          class="tool-menu__item"
          cdkMenuItem
          matRipple
        >
          <mat-icon>delete_sweep</mat-icon>
          <span class="tool-menu__item__name">delete all Engine events</span>
        </li>
      </ul>
    </div>
  </ng-template>

  <div class="info">
    <div class="info__company-and-driver">
      <div class="info__company-and-driver__1">
        <span class="info__company-and-driver__1-company">
          ## {{ formatTenantName(ddle.companyName) }}
        </span>

        <span
          [class]="
            ![
              'Batbayar Enkhbat',
              'Nedeljko Arezina',
              'Farhan Abdullahi Hussein'
            ].includes(ddle.driverFullName)
              ? 'info__company-and-driver__1-driver-name'
              : 'info__company-and-driver__1-driver-x'
          "
        >
          {{ ddle.driverFullName }}
        </span>
      </div>
      <div class="info__company-and-driver__2">
        @if (driverInfo(); as driverInfo) { @if
        (driverInfo.mobileAppType.toLowerCase().trim() === "android") {
        <mat-icon>android</mat-icon>
        } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e3e3e3"
        >
          <path
            d="M160-600v-80h80v80h-80Zm0 320v-240h80v240h-80Zm280 0h-80q-33 0-56.5-23.5T280-360v-240q0-33 23.5-56.5T360-680h80q33 0 56.5 23.5T520-600v240q0 33-23.5 56.5T440-280Zm-80-80h80v-240h-80v240Zm200 80v-80h160v-80h-80q-33 0-56.5-23.5T560-520v-80q0-33 23.5-56.5T640-680h160v80H640v80h80q33 0 56.5 23.5T800-440v80q0 33-23.5 56.5T720-280H560Z"
          />
        </svg>
        }
        <span class="info__company-and-driver__2-version">{{
          driverInfo.mobileAppVersion
        }}</span>
        <span style="margin-top: 6px">{{
          driverInfo.homeTerminalTimeZone
        }}</span>

        }
      </div>
    </div>

    @if (monitorService.isUpdating()) {
    <div class="info__date">
      <mat-spinner [diameter]="17"></mat-spinner>
    </div>
    } @else {
    <div class="info__date">
      <p class="info__date">{{ date | date : "mediumDate" }}</p>
    </div>
    }
  </div>

  <div class="event-list">
    <ul>
      @if (ddle.coDrivers.length === 0) {
      <hr />
      } @for (event of monitorService.computedDailyLogEvents(); track event.id)
      { @if (event.shift && ddle.coDrivers.length !== 0) {
      <p
        [ngClass]="
          event.driver.id === event.driver.viewId ? `left` : `right`
        "
      >
        {{ event.driver.name }}
      </p>
      <hr />
      } @if (event.pti === 0) {
      <li>
        <div class="fix-error">
          <button
            (click)="handleContextMenuAction('ADD_PTI', event)"
            [disabled]="addPTIBtnDisabled() || monitorService.isUpdating()"
            class="fix-error__button shadow"
            matRipple
          >
            @if (addPTIBtnDisabled()) {
            <div class="fix-error__button__spinner">
              <mat-spinner [diameter]="17"></mat-spinner>
            </div>

            } @else {
            <mat-icon class="fix-error__button__icon">playlist_add</mat-icon>

            }

            <span class="fix-error__button__name">add Pre-Trip Inspection</span>
          </button>
        </div>
      </li>

      }
      <li
        (contextmenu)="onContextMenu($event, event)"
        class="{{ markBreaksAndShift(event) }}"
      >
        <div
          [ngClass]="
            'event' +
            (event.id === selectedEvent?.id && contextMenuVisible()
              ? ' selected'
              : '')
          "
          (mouseenter)="focusElement(event, 'FOCUS_ELEMENT_START')"
          (mouseleave)="focusElement(event, 'FOCUS_ELEMENT_STOP')"
          matRipple
        >
          <span
            [ngClass]="
              'view-id ' +
              (event.errorMessages && event.errorMessages.length
                ? ' error'
                : '') +
              (event.manualDriving ||
              event.malf ||
              event.statusName === 'Fleet manager' ||
              event.refuel
                ? ' warn'
                : '')
            "
            >{{ event.viewId }}.</span
          >

          <!-- @if (event.break) { {{ event.break }} } @else { -->
          <span
            [ngClass]="
              'odometer ' +
              (event.isTeleport || event.error ? 'error' : '') +
              (event.truckChange ? 'approved' : '')
            "
            >{{
              event.truckChange
                ? "truck change"
                : event.odometer && event.odometer.toLocaleString()
            }}</span
          >

          <span
            [ngClass]="
              'status ' +
              event.dutyStatus +
               ((event.notes && getNoSpaceNote(event.notes)) ? ` status-note` : '')
            "
          >
            {{
              event.notes && getNoSpaceNote(event.notes)
                ? event.notes.trim()
                : event.statusName
            }}
          </span>

          <!-- <span class="tools">
            <a
              mat-icon-button
              matTooltip="fix"
              [matTooltipShowDelay]="200"
              class="tools__scale"
              (click)="onMenuAction({ action: 'fix', event })"
            >
              <mat-icon>build</mat-icon></a
            >
            <a
              mat-icon-button
              matTooltip="extend Pre-Trip Inspection"
              [matTooltipShowDelay]="200"
              (click)="onMenuAction({ action: 'EXTEND_PTI', event })"
            >
              <mat-icon class="tools__rotate">expand_content</mat-icon></a
            >
            <a
              mat-icon-button
              matTooltip="partially transform into Sleeper Berth"
              [matTooltipShowDelay]="200"
              (click)="onMenuAction({ action: 'TO_SLEEP', event })"
            >
              <mat-icon>arrow_outward</mat-icon></a
            >
          </span> -->

          <span class="duration">{{
            getStatusDuration(event) | duration
          }}</span>
          @if(event.isTeleport || (event.errorMessages &&
          event.errorMessages.length > 0) || event.manualDriving || event.refuel
          || event.locationMismatch) {
          <span class="note" style="color: red">
            <!-- [teleport] message-->
            {{
              event.isTeleport
                ? event.isTeleport > 0
                  ? "teleport [ " + event.isTeleport + " miles ]"
                  : "odometer decreased"
                : ""
            }}
            @if(event.locationMismatch) { @if (event.isTeleport) { <br />}
            location mismatch } @if((event.isTeleport || event.locationMismatch)
            && (event.errorMessages && event.errorMessages.length > 0 )) {
            <br />
            }
            <!-- [eventErrors] message-->
            {{
              event.errorMessages && event.errorMessages.length > 0
                ? event.errorMessages[0]
                : ""
            }}
            <!-- warnings -->
            @if (event.refuel) { @if (event.isTeleport || event.locationMismatch
            || (event.errorMessages && event.errorMessages.length > 0)) {<br />}
            <span class="note" style="color: yellow"
              >potential unrecorded driving</span
            >
            } @if (event.manualDriving) { @if(event.isTeleport ||
            (event.errorMessages && event.errorMessages.length > 0)) { <br />
            }
            <span class="note" style="color: yellow"> manual origin </span>
            }
          </span>
          }
        </div>
      </li>
      @if (event.pti > 0) {
      <li>
        <div class="fix-error">
          <!-- <mat-icon class="fix-error__icon">build</mat-icon> -->
          <button
            (click)="handleContextMenuAction('EXTEND_PTI', event)"
            [disabled]="extendPTIBtnDisabled() || monitorService.isUpdating()"
            class="fix-error__button shadow"
            matRipple
          >
            @if (extendPTIBtnDisabled()) {
            <div class="fix-error__button__spinner">
              <mat-spinner [diameter]="17"></mat-spinner>
            </div>

            } @else {
            <mat-icon class="fix-error__button__icon-rotate"
              >expand_content</mat-icon
            >

            }

            <span class="fix-error__button__name"
              >extend Pre-Trip Inspection</span
            >
          </button>
        </div>
      </li>

      } }
    </ul>

    @if (contextMenuVisible()) {
    <app-context-menu
      [x]="contextMenuX"
      [y]="contextMenuY"
      [event]="selectedEvent"
      (menuAction)="onMenuAction($event)"
    >
    </app-context-menu>
    }
  </div>
  } @else {
  <div class="info">
    <p class="info__not-live">
      Live monitoring is only available after the driver's daily logs are
      accessed.
    </p>
  </div>
  }
</div>
