<div class="add-note">
  @if (data) {
    <h2 class="add-note__title" mat-dialog-title>{{ data.title }}</h2>
    <mat-dialog-content>
      <div class="add-note__for">
        <span class="add-note__for-company"
          >## {{ formatTenantName(data.tenant.name) }}</span
        >

        @if (data.eventTypeCode === "ChangeToSleeperBerthStatus") {
          <mat-checkbox
            class="add-note__for-checkbox"
            [(ngModel)]="isVehicleIssue"
            >Vehicle Issue</mat-checkbox
          >
        }
        @if (isVehicleIssue() && data.vehicles; as vehicles) {
          <mat-form-field class="add-note__for-vehicle">
            <mat-label>Vehicle ID</mat-label>
            <mat-select [(ngModel)]="selectedVehicle">
              @for (truck of vehicles; let i = $index; track truck.id) {
                <mat-option [value]="vehicles[$index]">{{
                  truck.name
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        @if (
          [
            "EngineShutDownConventionalLocationPrecision",
            "EnginePowerUpConventionalLocationPrecision",
          ].includes(data.eventTypeCode)
        ) {
          <mat-form-field class="add-note__for-marker-color">
            <mat-label>Marker Color</mat-label>
            <mat-select [(ngModel)]="selectedMarkerColor">
              <mat-option
                [value]="
                  data.eventTypeCode.includes('ShutDown')
                    ? 'EngineShutDownReducedLocationPrecision'
                    : 'EnginePowerUpReducedLocationPrecision'
                "
                >Blue</mat-option
              >
              <mat-option
                [value]="
                  data.eventTypeCode.includes('ShutDown')
                    ? 'EngineShutDownConventionalLocationPrecision'
                    : 'EnginePowerUpConventionalLocationPrecision'
                "
                >Red</mat-option
              >
            </mat-select>
          </mat-form-field>
        } @else {
          <span class="add-note__for-driver">{{
            data.driver?.driverFullName
          }}</span>

          @if (
            data.eventTypeCode ===
            "IntermediateLogConventionalLocationPrecision"
          ) {
            <!--  -->
            <!--  -->
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input
                  matStartDate
                  formControlName="start"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end"
                  placeholder="End date"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

              @if (range.controls.start.hasError("matStartDateInvalid")) {
                <mat-error>Invalid start date</mat-error>
              }
              @if (range.controls.end.hasError("matEndDateInvalid")) {
                <mat-error>Invalid end date</mat-error>
              }
            </mat-form-field>
          }
        }
      </div>

      <mat-form-field class="add-note__form">
        <mat-label>Note</mat-label>
        <textarea
          matInput
          placeholder="..."
          [(ngModel)]="note"
          cdkFocusInitial
          (keydown.enter)="onAddClick(data.eventTypeCode, $event)"
          [disabled]="isPosting()"
        ></textarea>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button matButton (click)="onNoClick()">Cancel</button>

      <button
        matButton
        (click)="onAddClick(data.eventTypeCode)"
        [disabled]="
          !note().trim() ||
          isPosting() ||
          (data.eventTypeCode ===
            'EngineShutDownConventionalLocationPrecision' &&
            !selectedMarkerColor()) ||
          (isVehicleIssue() && !selectedVehicle()) ||
          (data.eventTypeCode ===
            'IntermediateLogConventionalLocationPrecision' &&
            rangeStatusSignal() !== 'VALID')
        "
      >
        @if (isPosting()) {
          <mat-spinner [diameter]="17"></mat-spinner>
        } @else {
          Post
        }
      </button>
    </mat-dialog-actions>
  }
</div>
