<div class="scan">
  @if (!scanning()) {
  <!--////////////////////  -->
  <!-- Violations -->
  <fieldset class="scan-violations">
    <legend>
      <mat-select [(value)]="selectedValue" class="scan-violations__select">
        <mat-option value="Violations">Violations</mat-option>
        <mat-option value="DOT Inspections">DOT Inspections</mat-option>
      </mat-select>
    </legend>
    <div class="scan-violations__sync">
      <mat-slide-toggle
        class="scan-violations__sync-auto"
        [(ngModel)]="scanService.autoScan"
      >
        Enable Auto-Scan
      </mat-slide-toggle>
      <div class="scan-violations__sync-stats">
        @if (vLastSync(); as lastSync) {
        <span>
          last sync: <br />
          {{ vLastSync() | date : "shortTime" }}</span
        >
        }

        <a
          mat-icon-button
          (click)="startViolationsScan()"
          matTooltip="Check for violations"
          [disabled]="disableScan"
        >
          <mat-icon class="icon-display">sync</mat-icon></a
        >
      </div>
    </div>

    <!-- radio buttons -->
    <div class="scan-violations__options">
      <mat-radio-group
        class="scan-violations__options-radio"
        [(ngModel)]="scanService.selectedRange"
      >
        <mat-radio-button
          class="scan-violations__options-radio-button"
          [value]="'week'"
          >last week</mat-radio-button
        >

        <mat-radio-button
          class="scan-violations__options-radio-button"
          [value]="'month'"
          >last month</mat-radio-button
        >

        <mat-radio-button
          class="scan-violations__options-radio-button"
          [value]="'custom'"
        >
          <div class="custom">
            custom
            <div style="display: none">
              <mat-date-range-input
                [rangePicker]="rangePicker"
                [formGroup]="range"
                style="display: none"
              >
                <input
                  matStartDate
                  formControlName="start"
                  placeholder="Start date"
                />
                <input
                  matEndDate
                  formControlName="end"
                  placeholder="End date"
                />
              </mat-date-range-input>
            </div>

            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button matButton matDateRangePickerCancel>Cancel</button>
                <button matButton="elevated" matDateRangePickerApply>
                  Apply
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </div>
        </mat-radio-button>
      </mat-radio-group>

      <span class="scan-violations__options-daterange">
        <mat-datepicker-toggle
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        {{ dateRange().dateFrom | date : "mediumDate" }} -
        {{ dateRange().dateTo | date : "mediumDate" }}</span
      >
    </div>
  </fieldset>

  <app-advanced-scan></app-advanced-scan>

  <button
    [disabled]="disableScan"
    mat-raised-button
    (click)="analyzeDriverLogs()"
    class="scan-submit"
  >
    Analyze Driver Logs
  </button>

  } @else {
  <app-progress-bar
    [scanSubscription]="scanSubscribtion"
    [scanMode]="scanMode.value"
  ></app-progress-bar>
  }
</div>
