.tab-group {
  display: flex;
  flex-direction: column;
}

.tab-group.tab-group-1 {
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  // background-color: red;
  height: calc(100vh - 100px);
  max-height: 550px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }
  button {
    height: 32px;
    // padding: 0px 32px;
    margin-bottom: 16px;
  }
}

.tab-group.rize-up {
  justify-content: start;
  gap: 32px;
}

mat-form-field {
  @media (max-width: 380px) {
    width: 225px;
  }
}
