<div class="scan">
  @if (!scanning()) {
  <!--////////////////////  -->
  <!-- Violations -->
  <fieldset class="scan-violations">
    <legend>Violations</legend>
    <div class="scan-violations__sync">
      <mat-slide-toggle
        class="scan-violations__sync-auto"
        [(ngModel)]="scanService.autoScan"
        onchange=""
      >
        Enable Auto-Scan
      </mat-slide-toggle>
      <div class="scan-violations__sync-stats">
        @if (vLastSync(); as lastSync) {
        <span>
          last sync: <br />
          {{ vLastSync() | date : "shortTime" }}</span
        >
        }

        <a
          mat-icon-button
          (click)="startViolationsScan()"
          matTooltip="Check for violations"
        >
          <mat-icon class="icon-display">sync</mat-icon></a
        >
      </div>
    </div>

    <!-- radio buttons -->
    <div class="scan-violations__options">
      <mat-radio-group
        class="scan-violations__options-radio"
        [(ngModel)]="selectedRange"
      >
        <mat-radio-button
          class="scan-violations__options-radio-button"
          [value]="'week'"
          >last week</mat-radio-button
        >

        <mat-radio-button
          class="scan-violations__options-radio-button"
          [value]="'month'"
          >last month</mat-radio-button
        >
      </mat-radio-group>

      <span class="scan-violations__options-daterange"
        >{{ dateRange().dateFrom | date : "mediumDate" }} -
        {{ dateRange().dateTo | date : "mediumDate" }}Z</span
      >
    </div>
  </fieldset>

  <app-advanced-scan></app-advanced-scan>

  <button
    [disabled]="disableScan"
    mat-raised-button
    (click)="startScan()"
    class="scan-submit"
  >
    Analyze Driver Logs
  </button>

  } @else {
  <app-progress-bar
    [scanSubscription]="scanSubscribtion"
    [scanMode]="scanMode.value"
  ></app-progress-bar>
  }
</div>
