.tab-group {
  display: flex;
  flex-direction: column;
}

.tab-group.tab-group-1 {
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  // background-color: red;
  height: calc(100vh - 70px);

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    height: 32px;
    // padding: 0px 32px;
    margin-bottom: 16px;
  }
}

.tab-group.rize-up {
  justify-content: start;
  gap: 32px;
}

mat-form-field {
  @media (max-width: 380px) {
    width: 200px;
    font-size: 13px;
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
  .example-radio-button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    .custom {
      display: flex;
      align-items: center;
    }
  }
}

.icon-display {
  transform: scale(1.1);
}

.scan-violations {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 16px;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: start;
    &__sync {
      display: flex;
      align-items: center;
      width: 100%;
      &__title {
        margin-right: auto;
        font-size: 16px;
      }
      &__stats {
        display: flex;
        flex-direction: column;
      }
    }
    &__check {
      margin: 0;
      padding: 0;
    }
  }
}

.mat-mdc-radio-button {
  --mat-radio-label-text-size: 12px;
  --mat-radio-label-text-line-height: 12px;
  height: 24px;
}

.mat-mdc-radio-button .mdc-radio__outer-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-width: 2px !important;
  border-style: solid !important;
  border-radius: 15% !important;
}
