.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 8px);
  margin-top: 8px;
  height: 88px;

  &__company-and-driver {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    &__1 {
      display: flex;
      text-align: left;
      flex-direction: column;
      padding-left: 8px;
      &-company {
        font-size: 22px;
        user-select: text;
        &-x {
          line-height: 25px;
          letter-spacing: 5px;
          font-weight: 800;
          text-transform: uppercase;
          color: red;
        }
      }
      &-company:hover {
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &-driver {
        &-name {
          font-size: 17px;
          font-weight: 550;
          padding-left: 6px;
          display: flex;
          gap: 18px;
        }
        &-x {
          display: flex;
          gap: 18px;
          padding-left: 6px;
          font-size: 17px;
          line-height: 20px;
          letter-spacing: 1px;
          font-weight: 800;
          text-transform: uppercase;
          color: red;
        }
      }
      &-driver-name:hover,
      &-driver-x:hover {
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &-vehicles {
        margin-left: 8px;
      }
    }
    &__2 {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      padding-right: 8px;
      &-version {
        margin-top: -4px;
      }
    }
  }

  &__nav {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__date {
      display: flex;
      justify-content: center;
      width: 84px;
      span {
        padding: 12px 6px;
        border-radius: 5px;
      }
      span:hover {
        cursor: pointer;
        // border: 2px solid #e4e1ec;
        background-color: rgba(255, 255, 255, 0.07);
      }
    }
    &__break {
      border-radius: 5px;
      padding: 5px 4.6px;
      box-shadow: inset 0 -4px 2px -1px #ef44448c;
      text-align: center;
      font-size: 10px;
      &-time {
        font-weight: 700;
      }
    }
  }
}

.mat-badge-custom {
  .mat-badge-content {
    background: #343effcc;
    color: white;
  }
}
