@if (driverDailyLog; as ddle) {
  <div class="info">
    <div class="info__company-and-driver">
      <div class="info__company-and-driver__1">
        <!-- (click)="showInfo()" -->
        <span
          [class]="
            !driverBackendData()?.companyMarkColor
              ? 'info__company-and-driver__1-company'
              : driverBackendData()?.companyMarkColor === 'red'
                ? 'info__company-and-driver__1-company-x'
                : 'info__company-and-driver__1-company-y'
          "
          [matTooltip]="driverBackendData()?.companyMarkerText"
          matTooltipPosition="below"
          [matTooltipHideDelay]="0"
        >
          <!-- [matTooltipShowDelay]="500" -->
          ## {{ formatTenantName(ddle.companyName).slice(0, 16) }}

          @if (driverBackendData()?.companyNoteCount; as companyNoteCount) {
            <span
              class="mat-badge-custom"
              [matBadge]="companyNoteCount"
              style="margin-left: 18px"
              [matBadgeHidden]="!companyNoteCount"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></span>
          }

          @if (
            driverBackendData()?.companyArchiveNotesCount;
            as companyArchiveNotesCount
          ) {
            <span
              class="mat-badge-custom-archive"
              style="margin-left: 18px"
              [matBadge]="companyArchiveNotesCount"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></span>
          }
        </span>

        <!-- 
                   ['UM Expedite', 'VK', 'FREEPAL'].includes(
              formatTenantName(ddle.companyName)
            )
          [class]="
            ![
              'Batbayar Enkhbat',
              'Nedeljko Arezina',
              'Farhan Abdullahi Hussein',
              'Zoran Lakicevic',
              'Mohamed A Alinor',
              'John Ibrahim',
              'Bell Dalonte',
              'Emil Drekovic',
              'Ambrozy Artur M',
            ].includes(ddle.driverFullName)
              ? 'info__company-and-driver__1-driver-name'
              : 'info__company-and-driver__1-driver-x'
          " -->
        <span
          [class]="
            !driverBackendData()?.driverMarkColor
              ? 'info__company-and-driver__1-driver-name'
              : driverBackendData()?.driverMarkColor === 'red'
                ? 'info__company-and-driver__1-driver-x'
                : 'info__company-and-driver__1-driver-y'
          "
          [matTooltip]="driverBackendData()?.driverMarkText"
          matTooltipPosition="below"
          [matTooltipHideDelay]="0"
        >
          <!-- [matTooltipShowDelay]="500" -->
          {{ ddle.driverFullName.slice(0, 24) }}
          @if (driverBackendData()?.noteCount; as noteCount) {
            <div
              class="mat-badge-custom"
              style="margin-bottom: 20px"
              [matBadge]="noteCount"
              [matBadgeHidden]="!noteCount"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></div>
          }

          @if (driverBackendData()?.issueCount; as issueCount) {
            <div
              style="margin-bottom: 20px"
              [matBadge]="issueCount"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></div>
          }

          @if (driverBackendData()?.isTruckProblem; as isTruckProblem) {
            <div
              class="mat-badge-custom-truck"
              style="margin-bottom: 20px"
              [matBadge]="isTruckProblem ? 1 : 0"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></div>
          }

          @if (
            driverBackendData()?.driverArchiveNotesCount;
            as driverArchiveNotesCount
          ) {
            <div
              class="mat-badge-custom-archive"
              style="margin-bottom: 20px"
              [matBadge]="driverArchiveNotesCount"
              matBadgeColor="primary"
              matBadgePosition="above after"
              matBadgeSize="medium"
            ></div>
          }
        </span>
      </div>
      <div class="info__company-and-driver__2">
        @if (driverInfo(); as driverInfo) {
          @if (driverInfo.mobileAppType.toLowerCase().trim() === "android") {
            <mat-icon>android</mat-icon>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e3e3e3"
            >
              <path
                d="M160-600v-80h80v80h-80Zm0 320v-240h80v240h-80Zm280 0h-80q-33 0-56.5-23.5T280-360v-240q0-33 23.5-56.5T360-680h80q33 0 56.5 23.5T520-600v240q0 33-23.5 56.5T440-280Zm-80-80h80v-240h-80v240Zm200 80v-80h160v-80h-80q-33 0-56.5-23.5T560-520v-80q0-33 23.5-56.5T640-680h160v80H640v80h80q33 0 56.5 23.5T800-440v80q0 33-23.5 56.5T720-280H560Z"
              />
            </svg>
          }
          <span class="info__company-and-driver__2-version">{{
            driverInfo.mobileAppVersion
          }}</span>
          <span style="margin-top: 6px">{{
            driverInfo.homeTerminalTimeZone
          }}</span>
        }
      </div>
    </div>

    <div class="info__nav">
      <button
        mat-icon-button
        [disabled]="!ddle.previousLogDate"
        (click)="onChangeLogDate(ddle.previousLogDate)"
      >
        <mat-icon>arrow_left</mat-icon>
      </button>
      @if (isUpdating()) {
        <div class="info__nav__date">
          <mat-spinner [diameter]="17"></mat-spinner>
        </div>
        <button
          mat-icon-button
          [disabled]="!ddle.nextLogDate"
          (click)="onChangeLogDate(ddle.nextLogDate)"
        >
          <mat-icon>arrow_right</mat-icon>
        </button>
      } @else {
        @if (
          until30minBreak() &&
          until30minBreak()!.seconds < 1800 &&
          ddle.hosDetails.driverDutyStatus === "D"
        ) {
          <span [class]="'info__nav__break'"
            ><span [class]="'info__nav__break-time'"
              >{{ until30minBreak()!.time }} minutes</span
            >
            until <br />30min-break violation</span
          >
        } @else {
          <div>
            <mat-form-field style="display: none">
              <input
                matInput
                [matDatepicker]="viewDatePicker"
                [formControl]="datePicker"
                (dateChange)="onDateChange($event)"
                [value]="DateTime.fromISO(ddle.date).toJSDate()"
                [min]="DateTime.fromISO(ddle.firstEventTime).toJSDate()"
                [max]="
                  DateTime.now().setZone(ddle.homeTerminalTimeZone).toJSDate()
                "
              />
              <mat-datepicker
                [dateClass]="dateClass"
                #viewDatePicker
              ></mat-datepicker>
            </mat-form-field>

            <div
              class="info__nav__date"
              [class.malf]="date && isMalfDate(date)"
              (click)="viewDatePicker.open()"
              [matTooltip]="
                date && isMalfDate(date) ? 'driving on paper logs' : null
              "
              matRipple
            >
              <span>
                {{ date | date: "mediumDate" }}
              </span>
            </div>
          </div>
          <button
            mat-icon-button
            [disabled]="!ddle.nextLogDate"
            (click)="onChangeLogDate(ddle.nextLogDate)"
          >
            <mat-icon>arrow_right</mat-icon>
          </button>
        }
      }
    </div>
  </div>
}
