<div class="dialog">
  <h1 class="dialog__title">Shift Events</h1>

  <a matIconButton (click)="onClose()" class="dialog__exit">
    <mat-icon>exit_to_app</mat-icon>
  </a>

  @if (monitorService.isShifting()) {
    <div class="dialog__spinner">
      <mat-spinner [diameter]="44"></mat-spinner>
    </div>
  } @else {
    <mat-form-field class="dialog__direction" (wheel)="onMouseWheel($event)">
      <mat-label>Choose a direction</mat-label>
      <mat-select
        [(ngModel)]="direction"
        [disabled]="monitorService.isShifting()"
      >
        <mat-option value="Past">backward</mat-option>
        <mat-option value="Future">forward</mat-option>
      </mat-select>
    </mat-form-field>
  }

  <div class="dialog__time">
    <app-shift-period
      (onHoursInputChange)="handleHoursInputChange($event)"
      (onMinutesInputChange)="handleMinutesInputChange($event)"
    ></app-shift-period>
  </div>

  <button
    class="dialog__button"
    matButton="outlined"
    (click)="onShift()"
    (wheel)="onMouseWheel($event)"
    onkeydown="''"
    [disabled]="
      time().length !== 5 ||
      monitorService.isShifting() ||
      monitorService.selectedEvents().length === 0
    "
  >
    <mat-icon>
      @if (direction() === "Past") {
        keyboard_double_arrow_left
      } @else {
        keyboard_double_arrow_right
      }
    </mat-icon>
    Shift
  </button>
  @if (space(); as space) {
    space backwards: {{ space.backward | duration }}
    <br />
    space forward: {{ space.forward | duration }}
  }
</div>
