.absolute {
  position: absolute;
  right: 10px;
  &.refresh {
    top: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    .spinner {
      padding: 11.3px 11.5px;
    }
  }

  &.vehicle {
    display: flex;
    gap: 4px;
    align-items: center;
    top: 55px;
    left: 8px;
    width: min-content;
    .spinner {
      padding: 11.3px 11.5px;
    }
    .ids {
      display: flex;
      flex-direction: column;
      gap: 2px;
      white-space: nowrap;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.07);
      padding: 1px 3px;

      &__field {
        display: flex;
        width: 60px;
        justify-content: space-between;
        &__left {
          font-size: 10px;
        }

        &__right {
          user-select: text;
          font-size: 11px;
          text-align: right;
        }
      }
    }
  }
  &.menu {
    top: 55px;
    .mat-badge-custom {
      position: absolute;
      top: 0px;
      right: 0;

      .mat-badge-content {
        z-index: 1000000000;
        background: #343eff54;
        color: white;
      }
    }
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    .spinner {
      margin-left: 8px;
      padding: 3.5px;
    }
  }
}
