@if (vehicles(); as vehicles) {
  <div [class]="['absolute', 'vehicle']">
    <span>{{ vehicles.at(-1)?.name }}</span>
    <button
      mat-icon-button
      matTooltip="pull vehicle data from admin portal"
      matTooltipPosition="below"
      (click)="getVehicleMaintenance()"
    >
      <mat-icon>local_shipping</mat-icon>
    </button>
  </div>
}

<button
  mat-icon-button
  matTooltip="Refresh"
  matTooltipPosition="left"
  class="absolute refresh"
  (click)="monitorService.refreshDailyLogs()"
  [disabled]="monitorService.refreshBtnDisabled()"
>
  <mat-icon>refresh</mat-icon>
</button>

<div class="absolute menu">
  @if (monitorService.selectedEvents().length) {
    <button
      mat-icon-button
      matTooltip="Deselect all Events"
      matTooltipPosition="left"
      (click)="deselectAllEvents()"
    >
      @if (monitorService.isShifting()) {
        <div class="spinner">
          <mat-spinner [diameter]="17"></mat-spinner>
        </div>
      } @else {
        <mat-icon>deselect</mat-icon>
      }
    </button>
    <div
      class="mat-badge-custom err-custom"
      matBadge="{{ monitorService.selectedEvents().length }}"
      [matBadgeHidden]="!monitorService.selectedEvents().length"
      matBadgeColor="primary"
      matBadgePosition="above"
      matBadgeSize="medium"
    ></div>
  }

  <button [cdkMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

  <ng-template #menu>
    <app-monitor-menu
      [selectedEvents]="monitorService.selectedEvents()"
    ></app-monitor-menu>
  </ng-template>
</div>
