@if (vehicles(); as vehicles) {
  <div [class]="['absolute', 'vehicle']">
    @if (isLoading()) {
      <div class="spinner">
        <mat-spinner [diameter]="17"></mat-spinner>
      </div>
    } @else {
      <button
        mat-icon-button
        matTooltip="show vehicle Maintanence Data"
        [matTooltipShowDelay]="500"
        [matTooltipHideDelay]="0"
        matTooltipPosition="below"
        (click)="getVehicleMaintenance()"
      >
        <mat-icon>local_shipping</mat-icon>
      </button>
    }

    <div class="ids">
      <div class="ids__field">
        <span class="ids__field__left">truck </span>
        <span class="ids__field__right">{{ vehicles.at(-1)?.name }}</span>
      </div>

      <div class="ids__field">
        <span class="ids__field__left">driver</span>
        <div class="ids__field__right">{{ driverId() }}</div>
      </div>
    </div>
  </div>
}

<div [class]="'absolute refresh'">
  @if (isSmartFix()) {
    <div class="spinner">
      <mat-spinner [diameter]="17"></mat-spinner>
    </div>
  } @else {
    <button
      mat-icon-button
      matTooltip="Smart Fix"
      [matTooltipShowDelay]="500"
      [matTooltipHideDelay]="0"
      matTooltipPosition="below"
      (click)="smartFix()"
      [disabled]="isSmartFix()"
    >
      <mat-icon>published_with_changes</mat-icon>
    </button>
  }

  <button
    mat-icon-button
    matTooltip="Refresh"
    [matTooltipShowDelay]="500"
    [matTooltipHideDelay]="0"
    matTooltipPosition="left"
    (click)="monitorService.refreshDailyLogs()"
    [disabled]="monitorService.refreshBtnDisabled()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div [class]="'absolute menu'">
  @if (monitorService.selectedEvents().length) {
    <button
      mat-icon-button
      matTooltip="Deselect all Events"
      [matTooltipShowDelay]="500"
      [matTooltipHideDelay]="0"
      matTooltipPosition="left"
      (click)="deselectAllEvents()"
    >
      @if (monitorService.isShifting()) {
        <div>
          <mat-spinner [diameter]="17"></mat-spinner>
        </div>
      } @else {
        <mat-icon>deselect</mat-icon>
      }
      <div
        class="mat-badge-custom"
        matBadge="{{ monitorService.selectedEvents().length }}"
        [matBadgeHidden]="!monitorService.selectedEvents().length"
        matBadgeColor="primary"
        matBadgePosition="above"
        matBadgeSize="medium"
      ></div>
    </button>
  } @else {
    @if (monitorService.engineOccuredDuringDriving()) {
      <button
        mat-icon-button
        matTooltip="delete Engine events during Driving"
        [matTooltipShowDelay]="500"
        [matTooltipHideDelay]="0"
        (click)="contextMenuService.handleAction('DELETE_ENGINES_IN_DRIVING')"
      >
        <mat-icon>developer_board_off</mat-icon>
      </button>
    } @else if (fmcsaDate(); as dotDate) {
      <button
        mat-icon-button
        matTooltip="FMCSA Inspected {{ dotDate | date }}"
        [matTooltipShowDelay]="500"
        [matTooltipHideDelay]="0"
        style="color: #0d3c72; border-top: 0.5px solid #003775; padding: 1px"
        (click)="navigateToDotInspection()"
      >
        <mat-icon style="margin: 5px 0 0 0">local_police</mat-icon>
      </button>
    }
  }

  <button [cdkMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

  <ng-template #menu>
    <app-monitor-menu
      [selectedEvents]="monitorService.selectedEvents()"
    ></app-monitor-menu>
  </ng-template>
</div>
