.absolute {
  position: absolute;
  right: 10px;
  &.refresh {
    top: 10px;
  }
  &.vehicle {
    display: flex;
    gap: 4px;
    align-items: center;
    top: 55px;
    left: 8px;
    width: min-content;
    .spinner {
      padding: 11px 11.5px;
    }
  }
  &.menu {
    top: 55px;
    .mat-badge-custom {
      .mat-badge-content {
        z-index: 1000000000;
        background: #343eff54;
        color: white;
      }
    }
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .spinner {
      padding: 3.5px;
    }
  }
}
