<div class="templates">
  <h2 class="templates__title">Templates & Scripts</h2>

  <div class="templates__container">
    <mat-accordion>
      @for(script of scripts; track script.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ script.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="templates__container__result">
          <pre>{{ script.content }}</pre>
        </div>
        <!--  -->
      </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
</div>
