<div class="templates">
  <h2>Templates</h2>

  <div class="templates__content">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>It's done! </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="templates__content__result">## c o n t e n t</div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Violations </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="templates__content__result">## c o n t e n t</div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Support </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="templates__content__result">## c o n t e n t</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
