<p>monthly-usage-scan works!</p>
<button mat-raised-button (click)="davai()">Davai</button>
<button mat-raised-button (click)="noDavai()">Stop</button>

<!-- @for (driver of monthlyScanResult() | keyvalue ; track driver.key) {
<p>{{ driver.key }}</p>
@for (log of driver.value; track log.date) {
<span>{{ log.vehicles | json }}</span>
} 
}  -->
<h4>{{ progress() }} %</h4>
@for (truck of vehiclesActiveDays() | keyvalue; track truck) {
<p>
  [{{ truck.key }}] unit {{ truck.value.name }} | active days count:
  {{ truck.value.activeDaysCount }}
</p>
}
