<div class="cert">
  @if (tenantList(); as tenants) {
    <div>
      <ng-container>
        <mat-form-field class="cert__form small-select">
          <mat-label>Company</mat-label>
          <mat-select
            [formControl]="companies"
            multiple
            panelClass="custom-option-height my-custom-select"
          >
            <mat-select-trigger>
              @if (companies.value?.length === tenants.length) {
                All selected ({{ companies.value?.length }})
              } @else {
                {{ companies.value?.[0]?.name }}
                @if ((companies.value?.length || 0) > 1) {
                  <span>
                    (+{{ (companies.value?.length || 0) - 1 }}
                    {{ companies.value?.length === 2 ? "other" : "others" }})
                  </span>
                }
              }
            </mat-select-trigger>

            <mat-option value="select-all" selectAll [allValues]="tenants"
              >Select all</mat-option
            >

            @for (tenant of tenants; track tenant.id) {
              <mat-option [value]="tenant">{{ tenant.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </ng-container>

      <div class="cert-group">
        <mat-form-field style="display: none">
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="date"
            (dateChange)="changeDate($event)"
          />
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="cert-group__date">
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <span>{{ date.value | date: "mediumDate" }}</span>
        </div>

        <div class="cert-group__button">
          <button
            [disabled]="disableScan"
            matButton="tonal"
            (click)="onCertifyLogs()"
          >
            Certify Logs
          </button>
        </div>
      </div>
    </div>
  } @else {
    <div class="cert__spinner">
      <mat-spinner [diameter]="45"></mat-spinner>
    </div>
  }
</div>
