.event {
  display: grid;
  grid-template-columns: 30px 58px 100px 36px 1fr;
  width: 100%;
  height: 23.85px;
  align-items: center;
  justify-items: center;

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    margin: 0 5px;
    padding: 4px 3px;
    border-radius: 10px;
    width: 85px;
    text-align: center;
    align-self: center;

    cursor: pointer;
    box-shadow: inset 0 -5px 5px rgba(3, 7, 18, 0.4);

    .parent-Driving {
      border-radius: 4px;
      padding: 0px 7px !important;
      margin: 0 5px;
      box-shadow: inset 0 -5px 3px -1px rgba(34, 197, 94, 0.2);
      border-bottom: 0.5px solid rgba(34, 197, 94, 0.5);
    }

    &.parent-SleeperBerth,
    &.parent-OffDuty,
    &.parent-OnDuty {
      border-radius: 0 0 6px 6px;
      padding: 0 3px;
      margin: 0 5px;
    }
    &.parent {
      &-SleeperBerth {
        box-shadow: inset 0 -7px 3px -1px rgba(231, 176, 8, 0.2);
        border-bottom: 0.5px solid rgba(231, 176, 8, 0.5);
      }
      &-OffDuty {
        box-shadow: inset 0 -3px 3px -10px rgba(3, 7, 18, 0.24);
        border-bottom: 0.5px solid rgba(3, 7, 18, 0.9);
      }
      &-OnDuty {
        box-shadow: inset 0 -7px 3px -1px rgba(59, 130, 246, 0.2);
        border-bottom: 0.5px solid rgba(59, 130, 246, 0.5);
      }
    }

    &.status-note {
      border-radius: 4px;
      font-weight: 700;
      padding: 3px 2px !important;
      border: 1px solid #eaeaea08;
    }

    &.IntermediateLogConventionalLocationPrecision,
    &.IntermediateLogReducedLocationPrecision,
    &.EnginePowerUpConventionalLocationPrecision,
    &.EnginePowerUpReducedLocationPrecision,
    &.EngineShutDownConventionalLocationPrecision,
    &.EngineShutDownReducedLocationPrecision {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px;
      margin: 1 5px;
      padding: 0;
      border-radius: 10px;
      width: 85px;
      text-align: center;
      align-self: center;
    }
  }

  .status.ChangeToOffDutyStatus {
    box-shadow: inset 0 -7px 3px -1px #000000 !important;
    background-color: #030712;
  }
}

.event:has(
  .IntermediateLogConventionalLocationPrecision,
  .IntermediateLogReducedLocationPrecision,
  .EnginePowerUpConventionalLocationPrecision,
  .EnginePowerUpReducedLocationPrecision,
  .EngineShutDownConventionalLocationPrecision,
  .EngineShutDownReducedLocationPrecision
) {
  display: grid;
  grid-template-columns: 30px 58px 100px 36px 1fr;
  width: 100%;
  height: 18.4px;
  align-items: center;
  justify-items: center;
  margin-top: -5.4px;
}

.event .note.edit:host {
  grid-template-columns: 30px 58px 100px auto;
}

.event:hover .on-hover {
  display: block;
}

.event:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(53, 53, 58, 0.333);
}

.view-id {
  width: 100%;
  height: calc(100% - 9.2px);
  display: flex;
  align-items: center;
  padding: 4.6px 1px 4.6px 8px;
  text-align: left;
}

.view-id.err {
  border-left: 4px solid red;
  padding-left: 2px;
  margin-left: 2px;
}

.odometer {
  padding: 1px 3px;
  text-align: right;
  &.input {
    width: 62px;
    margin-right: 13px;
  }
}
.odometer.copy:hover {
  padding: 4px;
  cursor: cell;
  box-shadow: inset 0 8px 16px rgba(58, 55, 224, 0.3);
  // border: 1px solid #eaeaea;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  box-shadow: inset 0 8px 8px rgb(255, 0, 0, 0.8);
}

.warn {
  padding: 0px;
  margin: 1px 0 0 5px;
  // background-color: yellow;
  border-right: 5px solid yellow;
  background-color: yellow;
  color: black;
  font-weight: 500;
}

.approved {
  border: 2px solid green;
  padding: 1px;
}

.engine-on {
  color: #22c55e;
}

.status.mph {
  font-weight: 500;
}
.status.start-time {
  font-weight: 700;
}

.input {
  border: none;
}

.input:focus {
  outline: none;
}

.duration {
  justify-self: end;
}

.note {
  justify-self: center;
  // line-height: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.edit {
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
  }
}

.note.location:hover {
  cursor: cell;
  height: 100%;
  // border: 1px solid #eaeaea;
  box-shadow: inset 0 8px 16px rgba(58, 55, 224, 0.3);
}

.on-hover {
  display: none;
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision {
  display: flex;
  width: 100%;
  gap: 1px;
  .inter-speed {
    font-size: 10px;
  }
}

.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}
.ChangeToOnDutyNotDrivingStatus-E,
.ChangeToOnDutyNotDrivingStatus-CR {
  border: solid 1px #3b82f6;
}

.ChangeToDrivingStatus {
  background-color: hsl(142, 71%, 45%);
  color: black;
}
.ChangeToDrivingStatus-E,
.ChangeToDrivingStatus-CR {
  border: solid 1px #22c55e;
}

.ChangeToSleeperBerthStatus {
  background-color: #e7b008;
  color: black;
}

.DataDiagnostic,
.DataDiagnosticClear,
.DriverIndicationAuthorizedPersonalUseCmv,
.DriverIndicationYardMoves,
.DriverIndicationClear,
.VehicleStartOfDay {
  border: solid 1px rgb(107 114 128);
  padding: 1px;
}

.green {
  -webkit-box-shadow: -14px -1px 14px -8px rgba(55, 202, 75, 0.5);
  box-shadow: -14px -1px 14px -8px rgba(55, 202, 75, 0.5);
}

.shift {
  background: linear-gradient(
    -90deg,
    hsla(142, 71%, 45%, 0.3) 0%,
    #ff930f00 30%
  );
}
.ten-hour-break {
  background: linear-gradient(-90deg, rgb(231, 175, 8, 0.8) 0%, #fbff0b00 30%);
}
.cycle-break {
  background: linear-gradient(-90deg, rgb(0, 0, 0) 0%, #00000000 36%);
}
.violation {
  background: linear-gradient(-90deg, red 0%, rgba(255, 255, 255, 0) 30%);
}
