@if (event(); as event) {
  <div [class]="'event'" [class.fmcsa-locked]="event.isLocked">
    @if (monitorService.currentResizeDriving()?.id === event.id) {
      @if (monitorService.newResizeSpeed(); as newResizeSpeed) {
        <span></span>
        <span [class]="'odometer'">{{
          event.odometer && event.odometer.toLocaleString()
        }}</span>
      }
    } @else if (monitorService.currentEditEvent()?.id === event.id) {
      <span></span>
      <!-- [edit] odometer -->
      <input
        [(ngModel)]="monitorService.newOdometer"
        #updateOdometer
        id="updateOdometer"
        type="number"
        (keydown.esc)="monitorService.cancelEventEdit()"
        [class]="['odometer', 'input']"
        [class.error]="event.isTeleport || event.error"
        [class.approved]="event.truckChange"
        tabindex="0"
      />
    } @else {
      <!-- view-id -->
      @if (!event.truckChange) {
        <span
          [class]="[markBreaksAndShift(event), 'view-id']"
          [class.violation]="addViolationClass(event, violations())"
          [class.err]="event.errorMessages && event.errorMessages.length"
          [class.war]="
            event.manualDriving ||
            event.malf ||
            event.statusName === 'Fleet manager' ||
            event.refuel
          "
          >{{ event.viewId }}.</span
        >
      } @else {
        <span></span>
      }

      <!-- odometer -->
      <span
        (click)="copyValue(event.odometer.toFixed(0))"
        [class]="['odometer']"
        [class.copy]="keyboardService.ctrlPressed()"
        [class.error]="event.isTeleport || event.error"
        [class.approved]="event.truckChange && !keyboardService.ctrlPressed()"
        >{{
          event.truckChange && !keyboardService.ctrlPressed()
            ? "truck change"
            : event.odometer && event.odometer.toLocaleString()
        }}</span
      >
    }

    <!-- status -->
    <app-event-status [event]="event"></app-event-status>

    <!-- duration -->
    <span class="duration">
      @if (
        monitorService.currentResizeDriving()?.id === event.id &&
          monitorService.newResizeDuration();
        as newResizeDuration
      ) {
        {{ newResizeDuration | duration }}
      } @else if (monitorService.currentEditEvent()?.id === event.id) {
        <button
          class="duration__toggle"
          matTooltip="toggle Event Type group"
          matTooltipPosition="above"
          [matTooltipHideDelay]="0"
          [matTooltipShowDelay]="500"
          (click)="toggleStatusGroupType()"
        >
          <mat-icon>swap_horiz</mat-icon>
        </button>
      } @else {
        {{ getStatusDuration(event) | duration }}
      }
    </span>

    <!-- note / location  -->
    @if (monitorService.currentEditEvent()?.id !== event.id) {
      @if (keyboardService.ctrlPressed()) {
        <span
          (click)="copyLocation(event)"
          class="note location"
          [style]="event.locationMismatch ? 'color: red' : ''"
          >{{ event.locationDisplayName }}</span
        >
      } @else if (constantsService.showLocationDisplayName()) {
        <span
          class="note"
          [style]="event.locationMismatch ? 'color: red' : ''"
          >{{ event.locationDisplayName }}</span
        >
      }
    }
    @if (
      !(monitorService.currentEditEvent()?.id === event.id) &&
      (event.isTeleport ||
        (event.errorMessages && event.errorMessages.length > 0) ||
        (event.warningMessages && event.warningMessages.length > 0) ||
        event.manualDriving ||
        event.refuel ||
        event.locationMismatch)
    ) {
      @if (event.isTeleport) {
        <span class="note err-item">
          {{
            event.isTeleport > 0
              ? "teleport [ " + event.isTeleport + " miles ]"
              : "odometer decreased"
          }}
        </span>
      }
      @if (event.locationMismatch) {
        <span class="note err-item"> location mismatch </span>
      }
      @if (event.errorMessages && event.errorMessages.length) {
        @for (errorMsg of event.errorMessages; track errorMsg) {
          <span class="note err-item">
            {{ errorMsg }}
          </span>
        }
      }
      @if (event.warningMessages && event.warningMessages.length) {
        @for (warnMsg of event.warningMessages; track warnMsg) {
          <span class="note warn-item">
            {{ warnMsg }}
          </span>
        }
      }
      @if (event.refuel) {
        <span class="note warn-item"> potential unrecorded driving </span>
      }
      @if (event.manualDriving) {
        <span class="note warn-item"> manual origin </span>
      }
    }
  </div>
}
