@if (event(); as event) {
  <div [class]="'event'">
    <!-- view-id -->
    <span
      [class]="[markBreaksAndShift(event), 'view-id']"
      [class.violation]="addViolationClass(event, violations())"
      [class.err]="event.errorMessages && event.errorMessages.length"
      [class.war]="
        event.manualDriving ||
        event.malf ||
        event.statusName === 'Fleet manager' ||
        event.refuel
      "
      >{{ event.viewId }}.</span
    >
    <!-- odometer -->
    <span
      (click)="copyValue(event.odometer.toFixed(0))"
      [class]="'odometer'"
      [class.copy]="keyboardService.ctrlPressed()"
      [class.error]="event.isTeleport || event.error"
      [class.approved]="event.truckChange"
      >{{
        event.truckChange
          ? "truck change"
          : event.odometer && event.odometer.toLocaleString()
      }}</span
    >

    <!-- [class]="" -->
    <!-- status -->
    <span
      (dblclick)="handleDoubleClick(event)"
      tabindex="0"
      [class]="['status', event.dutyStatus, getClassName()]"
      [class.mph]="event.statusName === 'Driving' && event.averageSpeed"
      [class.status-note]="event.notes && getNoSpaceNote(event.notes)"
      [class.start-time]="this.keyboardService.ctrlPressed()"
    >
      @if (keyboardService.ctrlPressed()) {
        {{ event.realStartTime | date: "shortTime" }}
      } @else {
        @switch (event.statusName) {
          @case ("Driving") {
            @if (event.averageSpeed) {
              @if (
                monitorService.newResizeSpeed() &&
                monitorService.currentResizeDriving()?.id === event.id
              ) {
                {{ monitorService.newResizeSpeed().toFixed(2) }}
              } @else {
                {{ event.averageSpeed.toFixed(2) }}
              }
              mph
            } @else {
              Driving
            }
          }
          @case ("Intermediate") {
            <app-intermediate></app-intermediate>
            @if (event.averageSpeed) {
              <span [class]="getClassName()">
                {{ event.averageSpeed }} mph
              </span>
            }
          }
          @case ("Engine On") {
            <div class="engine-group">
              <app-engine-on></app-engine-on>
              <span [class]="[getClassName(), 'stats']">
                {{ event.accumulatedVehicleMiles }} avM
              </span>
            </div>
          }
          @case ("Engine Off") {
            <div class="engine-group">
              <app-engine></app-engine>
              <span [class]="[getClassName(), 'stats']">
                {{ event.elapsedEngineHours }} eh
              </span>
            </div>
          }
          @default {
            {{
              event.notes && getNoSpaceNote(event.notes)
                ? event.notes.trim()
                : event.statusName
            }}
          }
        }
      }
    </span>

    <!-- duration -->
    <span class="duration">
      @if (
        monitorService.currentResizeDriving()?.id === event.id &&
          monitorService.newResizeDuration();
        as newResizeDuration
      ) {
        {{ newResizeDuration | duration }}
      } @else {
        {{ getStatusDuration(event) | duration }}
      }
    </span>

    <!-- note / location  -->
    @if (
      keyboardService.ctrlPressed() &&
      monitorService.currentEditEvent()?.id !== event.id
    ) {
      <span
        (click)="copyLocation(event)"
        class="note location"
        [style]="event.locationMismatch ? 'color: red' : ''"
        >{{ event.locationDisplayName }}</span
      >
    } @else {
      @if (
        !(monitorService.currentEditEvent()?.id === event.id) &&
        (event.isTeleport ||
          (event.errorMessages && event.errorMessages.length > 0) ||
          event.manualDriving ||
          event.refuel ||
          event.locationMismatch)
      ) {
        <span class="note" style="color: red">
          <!-- [teleport] message-->
          {{
            event.isTeleport
              ? event.isTeleport > 0
                ? "teleport [ " + event.isTeleport + " miles ]"
                : "odometer decreased"
              : ""
          }}
          @if (event.locationMismatch) {
            @if (event.isTeleport) {
              <br />
            }
            location mismatch
          }
          @if (
            (event.isTeleport || event.locationMismatch) &&
            event.errorMessages &&
            event.errorMessages.length > 0
          ) {
            <br />
          }
          <!-- [eventErrors] message-->
          {{
            event.errorMessages && event.errorMessages.length > 0
              ? event.errorMessages[0]
              : ""
          }}
          <!-- warnings -->
          @if (event.refuel) {
            @if (
              event.isTeleport ||
              event.locationMismatch ||
              (event.errorMessages && event.errorMessages.length > 0)
            ) {
              <br />
            }
            <span class="note" style="color: yellow"
              >potential unrecorded driving</span
            >
          }
          @if (event.manualDriving) {
            @if (
              event.isTeleport ||
              (event.errorMessages && event.errorMessages.length > 0)
            ) {
              <br />
            }
            <span class="note" style="color: yellow"> manual origin </span>
          }
        </span>
      } @else {
        <span class="note"> </span>
      }
    }
  </div>
}
