<div class="container">
  <mat-card id="mat-card-wrapper-2">
    <mat-card-content>
      @switch (scanMode) {
        @case ("cert-logs") {
          <h2>Log Certification in progress...</h2>
        }
        @case ("admin") {
          <h2>Admin Portal scan in progress...</h2>
        }
        @case ("advanced") {
          <h2>Driver Log Analysis in progress...</h2>
        }
        @case ("deleteUE") {
          <h2>Detecting and deleting unidentified events...</h2>
        }
        @case ("smartFix") {
          <h2>Performing Global Smart Fix...</h2>
        }
        @case ("cert") {
          <h2>Scanning for driver certifications</h2>
        }
        @case ("violations") {
          <h2>Scanning for Violations</h2>
        }
        @case ("dot") {
          <h2>Scanning for FMCSA inspections</h2>
        }
        @case ("pre") {
          <h2>Scanning for alerts</h2>
        }
      }

      <p>{{ currentCompany() }}</p>
      @if (currentDriver()) {
        <p>{{ currentDriver() }}</p>
      }
      <section>
        <mat-progress-bar
          [mode]="progressMode()"
          [value]="value()"
          [bufferValue]="bufferValue()"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    @if (scanMode !== "deleteUE") {
      <span class="total-count">
        @switch (scanMode) {
          @case ("admin") {
            Total count:
            {{ adminPortalDisconnectedCount() + adminPortalUnpluggedCount() }}
          }

          @case ("violations") {
            Total count: {{ totalCount() }}
          }

          @case ("dot") {
            Total count: {{ totalCount() }}
          }

          @case ("cert") {
            Active drivers: {{ activeDriversCount() }}
          }

          @case ("advanced") {
            Active drivers: {{ activeDriversCount() }}
          }

          @case ("pre") {
            Total count: {{ preVCount() + lowCCount() }}
          }
        }
      </span>
    }
  </mat-card>

  <button mat-button (click)="stopScan()">Stop</button>

  <div class="tsunade">
    <div class="overlay">
      <!-- <img src="tsunade.gif" /> -->
    </div>
  </div>
</div>
