<div class="container">
  <mat-card id="mat-card-wrapper-2">
    <mat-card-content>
      @if (scanMode === "advanced") {
      <h2>Driver Log Analysis in progress...</h2>
      } @else {
      <h2>
        Scanning for @switch (scanMode) { @case ("violations") {
        {{ " " }} Violations} @case ("dot") { {{ " " }} FMCSA inspections} @case
        ("pre") { {{ " " }} pre-Violation alerts} }
      </h2>
      }

      <p>{{ currentCompany() }}</p>
      @if (currentDriver()) {
      <p>{{ currentDriver() }}</p>
      }
      <section>
        <mat-progress-bar
          [mode]="'determinate'"
          [value]="value()"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
      <button mat-button (click)="stopScan()">Stop</button>
    </mat-card-content>
    <p class="total-count">
      {{
        scanMode === "advanced"
          ? "Active drivers: " + activeDriversCount()
          : "Total count: " + (scanMode === "pre" ? preVCount() : totalCount())
      }}
    </p>
  </mat-card>

  <div class="errors" style="text-align: left">
    @for (err of this.errors; track (err.driverName ? err.driverName :
    err.company.id)) {
    <span class="errors-company"
      >[{{ err.error.name }}] {{ err.company.name }}
      {{ err.driverName ? " - " + err.driverName : "" }}</span
    >
    <span style="font-size: 10px">- {{ err.error.message }}</span>
    <br />

    }
  </div>
</div>
