.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  height: 100%;

  #mat-card-wrapper-2 {
    height: 200px;
    text-align: center;
    width: 90vw;
    max-width: 550px;
    flex-grow: 1;

    background-image: url("../../../../public/tsunade.gif");
    background-color: rgba(5, 5, 134, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h2 {
      background-color: #27272a50;
      padding: 8px;
      border-radius: 8px;
      @media (max-width: 420px) {
        font-size: 14px;
      }
    }

    p,
    span {
      background-color: #27272a50;
      padding: 8px;
      border-radius: 8px;
    }

    .total-count {
      background-color: #27272a50;
      padding: 8px;
      border-radius: 8px;
      padding-right: 16px;
      text-align: right;
      margin-top: auto;
    }
  }
  button {
    background-color: #27272a50;
    border-radius: 8px;
    margin-top: 8px;
  }

  .errors {
    overflow: hidden;
    max-width: 90vw;
    padding: 16px;

    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;
      padding: 0;
    }
  }
  // <img src="tsunade.gif" />
  // .tsunade {
  //   margin: 16px 0 -70px;
  //   height: min-content;
  //   .overlay {

  //   }
  //   img {
  //     height: 75%;
  //     border-radius: 8px;
  //     background-color: rgba(0, 0, 255, 0.5);
  //     background-blend-mode: multiply; /* Blends the color and image */
  //     background-size: cover;
  //     background-position: center;
  //   }
  // }
}
