.scan-results {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;

  &__title {
    font-size: 20px;
    text-align: center;
  }

  &__content {
    margin: 0px 8px;
    // width: 90%;
    max-width: 700px;

    overflow-y: scroll;
    flex-grow: 1;

    &__result {
      max-height: 50vh;
      overflow: auto;
      width: 100%;
      background-color: rgb(39 39 42);
      text-align: left;

      &__empty {
        margin: 12px;
      }

      h3 {
        font-size: 22px;
        margin: 0;
        margin-top: 16px;
        padding: 0;
      }

      ul {
        // list-style-type: "## ";
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-bottom: 8px;

        li {
          .event-error {
            display: grid;
            grid-template-columns: 30px 100px 1fr;
            align-items: center;
            width: 100%;
            font-size: 13px;

            .view-id {
              padding: 3px;
              margin: 0px 3px;
              text-align: right;
            }
            .status {
              font-size: 11px;
              margin: 1px 5px;
              padding: 0;
              border-radius: 12px;
              width: 85px;
              text-align: center;
            }
            // .error-msg {
            //   padding-left: 4px;
            // }
          }
        }
      }

      .driver {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;

        .bold {
          font-weight: bold;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
  }
}

.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}

.ChangeToDrivingStatus {
  background-color: rgb(34, 197, 94);
  color: black;
}

.ChangeToSleeperBerthStatus {
  background-color: rgb(234, 179, 8);
  color: black;
}

.ChangeToOffDutyStatus {
  background-color: rgb(3, 7, 18);
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision,
.EnginePowerUpConventionalLocationPrecision,
.EnginePowerUpReducedLocationPrecision,
.EngineShutDownConventionalLocationPrecision,
.EngineShutDownReducedLocationPrecision {
  background-color: rgb(107 114 128);
}
