::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0px;
      margin: 0;
    }
  }
}

.mat-accordion .mat-expansion-panel.mat-expanded {
  margin: 6px 0;
}

.error {
  color: var(--mat-badge-text-color, var(--mat-sys-on-error));
}

.scan-results {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 8px 0;
  width: calc(100% - 16px);
  padding-right: 10px;

  &__title {
    font-size: 20px;
    text-align: center;
  }
  &__count-n-errors {
    margin: 3px 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &__driver-count {
      padding-top: 14px;
      font-size: 12px;
      font-weight: 700px;
    }
    &__scan-errors {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);

    &__result {
      overflow: auto;
      width: 100%;
      max-height: 42.5vh;
      background-color: rgb(39 39 42);
      position: relative;

      &__checkbox {
        width: calc(100% - 8px);
        top: 0px;
        left: 0px;
        padding: 8px 0 8px 8px;
        position: sticky;
        background-color: #27272a;
        z-index: 1;
      }

      &__empty {
        margin: 12px;
      }

      hr {
        width: 80%;
        border-top: 0.5px solid;
      }

      .list-of-tenants {
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-bottom: 8px;

        .company {
          margin-top: 8px;
          &-name {
            font-size: 20px;
            padding: 0px;
            padding-left: 8px;
            margin: 0;
          }

          .driver {
            display: grid;
            grid-template-columns: 84px auto 36px;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 2px;

            .btns {
              display: flex;
              align-items: center;
              justify-content: start;
              padding-left: 2px;
            }

            .bold {
              text-align: left;
              font-weight: 600;
              font-size: 15px;
            }

            .on-hover {
              display: none;
            }
          }

          .driver:hover .on-hover,
          .event-violation:hover .on-hover {
            display: block;
          }
          .driver:hover,
          .event-violation:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            background-color: rgb(53, 53, 58);
          }

          .inner-ul {
            list-style-type: none;
            margin: 0;
            margin-bottom: 4px;
            padding: 0;
            padding-left: 9px;

            &.add-margin {
              margin-left: 48px;
            }

            .event-violation {
              display: flex;
              a {
                display: none;
                position: absolute;
                right: 0;
              }
            }
            .event-violation:hover a {
              display: block;
            }

            .event-error {
              display: grid;
              grid-template-columns: 33px 90px auto;
              align-items: center;
              position: relative;
              .view-id {
                margin: 0 3px 0 0;
                text-align: left;
              }
              .status {
                font-size: 11px;
                margin: 1px 0;
                padding: 0;
                border-radius: 12px;
                width: 85px;
                text-align: center;
              }
              .error-msg {
                margin: 0;
                padding: 0;
              }
              .error-msg.note {
                font-weight: 700;
              }
              .hide {
                position: absolute;
                right: 0;
                padding-right: 5px;
              }
            }

            .event-violation,
            .event-error {
              position: relative;
              padding: 0;
              margin: 0;
              font-family:
                Roboto,
                Helvetica Neue,
                sans-serif;
              font-weight: 400;
              text-overflow: ellipsis;
              align-items: center;
              font-size: 12px;
              width: 100%;
              line-height: 1.6;
            }
          }
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 7px;
    margin-right: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #7775;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track {
    background-color: #5555;
    border-radius: 100px;
    margin-block: 3em;
  }
}
.ChangeToOnDutyNotDrivingStatus {
  background-color: rgb(59, 130, 246);
}
.ChangeToOnDutyNotDrivingStatus-E,
.ChangeToOnDutyNotDrivingStatus-CR {
  border: solid 1px rgb(59, 130, 246);
}

.ChangeToDrivingStatus {
  background-color: rgb(34, 197, 94);
  color: black;
}
.ChangeToDrivingStatus-E,
.ChangeToDrivingStatus-CR {
  border: solid 1px rgb(34, 197, 94);
}

.ChangeToSleeperBerthStatus {
  background-color: rgb(234, 179, 8);
  color: black;
}

.ChangeToOffDutyStatus {
  background-color: rgb(3, 7, 18);
}

.IntermediateLogConventionalLocationPrecision,
.IntermediateLogReducedLocationPrecision,
.EnginePowerUpConventionalLocationPrecision,
.EnginePowerUpReducedLocationPrecision,
.EngineShutDownConventionalLocationPrecision,
.EngineShutDownReducedLocationPrecision {
  background-color: rgb(107 114 128);
}
.DataDiagnostic,
.DataDiagnosticClear,
.DriverIndicationAuthorizedPersonalUseCmv,
.DriverIndicationYardMoves,
.DriverIndicationClear,
.VehicleStartOfDay {
  border: solid 1px rgb(107 114 128);
  padding: 1px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.mat-badge-custom {
  .mat-badge-content {
    z-index: 1000000000;
    background: #343eff54;
    color: white;
  }
}

.err-custom {
  margin-bottom: auto;
  margin-top: 6px;
}
