.shift-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 160px);

  &__content {
    h3 {
      margin: 0;
      padding: 0;
      font-size: 17px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        .driver-name {
          display: flex;
          align-items: center;
          font-size: 15px;
        }
        .notes {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;

          .note {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            margin: 0;
            padding: 0;
            position: relative;

            .text {
              width: calc(100% - 70px);
              .time {
                font-size: 10px;
                margin-top: 4px;
              }
            }

            .action-btns {
              transform: scale(0.8);
              position: absolute;
              right: -6px;
              top: -4px;
              display: flex;
              &__delete {
                color: #ff66667c;
              }
            }
          }
        }
      }
    }
  }
}

.mat-badge-custom {
  .mat-badge-content {
    z-index: 1000000000;
    background: #343eff54;
    color: white;
  }
}
