<div class="dialog">
  <div class="dialog__title">
    <app-resize></app-resize>
    <h1 mat-dialog-title>
      {{ data.title }}
    </h1>
  </div>

  <div class="dialog__content" mat-dialog-content>
    @if (data.event; as event) {
      <h3 class="dialog__content-message">
        {{ getRealTime(event.realStartTime, event.offset) }} <br />
        #{{ event.viewId }} {{ event.statusName }} |
        {{
          getDurationTime(
            event.realDurationInSeconds
              ? event.realDurationInSeconds
              : event.durationInSeconds
          )
        }}
      </h3>
    }

    @if (data.info) {
      <p class="dialog__content-info">{{ data.info }}</p>
    }
    @if (data.warning) {
      <p class="dialog__content-warning">{{ data.warning }}</p>
    }
    <p class="dialog__content-message">{{ data.message }}</p>
  </div>
  <div mat-dialog-actions class="dialog__actions">
    <button mat-button (click)="onNoClick()">No</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onYesClick()"
      cdkFocusInitial
    >
      Yes
    </button>
  </div>
</div>
