<div id="time_wrapper">
  <div id="time_input" [formGroup]="timeForm">
    <label for="hours">
      <input
        type="text"
        id="hours"
        formControlName="hours"
        #hoursInput
        (focus)="hoursInput.select()"
        min="00"
        max="99"
        maxLength="2"
        minlength="2"
        (wheel)="onMouseWheel($event, 'hours')"
        autocomplete="off"
      />
      <span class="label lbl-hrs">hours</span>
    </label>
    <span>:</span>
    <label for="minutes">
      <input
        type="text"
        id="minutes"
        formControlName="minutes"
        #minutesInput
        min="00"
        max="59"
        maxLength="2"
        minlength="2"
        (wheel)="onMouseWheel($event, 'minutes')"
        autocomplete="off"
      />
      <span class="label lbl-min">minutes</span>
    </label>
  </div>
</div>
