.shift-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 55px);

  &__title {
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }

  &__list {
    list-style: none;
    li {
      font-size: 20px;
    }
  }
}
