.shift-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 55px);
  padding: 0 16px;

  &__title {
    font-size: 20px;
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0 16px;
    &-item {
      font-size: 20px;
      font-weight: 800;
      margin-top: 16px;
      .company {
        padding-left: 10px;
      }
      ul {
        padding: 0;
        list-style: none;
        li {
          display: flex;
          flex-direction: column;
          gap: 0;
          .driver {
            font-weight: 800;
            font-size: 16px;
            display: flex;
            align-items: center;
          }
          .note {
            padding-left: 40px;
            font-size: 13px;
          }
        }
      }
    }
  }

  &__add {
    margin: auto 0 16px;
  }
}
