::ng-deep .mat-mdc-paginator-range-label {
  display: none !important;
}

::ng-deep {
  mat-expansion-panel {
    .mat-expansion-panel-body {
      padding: 0px;
      margin: 0;
      .panel {
        width: 100%;
        display: flex;
        ul {
          flex-grow: 1;
          width: 100%;
          padding: 2px 4px 4px 4px;
          list-style: none;
          margin: 0;
          li {
            display: flex;
            flex-direction: column;
            gap: 0;

            // background-color: #21212185;
            background-color: #35353a;
            border-radius: 8px;
            padding: 3px 4px;
            margin: 0 0 6px 0;

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            .driver {
              font-weight: 800;
              font-size: 16px;
              display: flex;
              align-items: center;

              color: #ffffff;
            }
            .notes {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-direction: column;
              padding-right: 2px;
              width: 100%;

              &__note {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin: 2px 0 2px 1px;
                border-radius: 8px;

                // background-color: #2c2c2c4f;
                background-color: #2121216e;

                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

                &__text {
                  // font-family: "Andale Mono", "AndaleMono", monospace;
                  width: 100%;
                  line-height: 1.1;
                  margin-left: 20px;
                  padding: 12px 0 8px;
                  font-size: 16px;
                  color: #cccccc;
                  &-ts {
                    line-height: 1;
                    font-size: 11px;
                  }
                  &-truck {
                    font-size: 16px;
                    font-weight: 800;

                    &-id {
                      color: #ffffff;
                      text-decoration: underline;
                    }
                  }
                }

                &__action-btns {
                  padding-right: 8px;
                  margin: 3px 2px;
                  visibility: hidden;
                  display: flex;
                  flex-direction: column;
                  &__delete {
                    color: #ff66667c;
                  }
                }
              }
              &__note:hover .notes__note__action-btns {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

.mat-accordion .mat-expansion-panel.mat-expanded {
  margin: 6px 0;
}

.content {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);

  &__action-buttons {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .expended-notes {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 8px 0;
  }
}

.panel {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  max-height: 42.5vh;
  background-color: rgb(39 39 42);
  position: relative;
  padding: 4px1;
}

.report__list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 55px);
  padding: 0 16px;
  scroll-margin-right: 10px;

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444444;
  }
}

.shift-report {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 55px);
  padding: 0 16px;
  scroll-margin-right: 10px;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;

    background: #444444;
  }

  &__header {
    font-size: 20px;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 1fr 1fr 0.5fr;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 100%;
    padding: 0;

    &__title {
      text-align: left;
    }

    &__index {
      font-size: 12px;
    }

    &__paginator {
      border-radius: 8px;
      background-color: #00000000;
      white-space: nowrap;
    }
  }

  &__loading {
    margin: 11.5px 5px;
  }

  hr {
    width: 87vw;
    margin: 0 0 4px 0;

    border-color: #333333;
  }

  &__list {
    width: 100%;
    list-style: none;
    padding: 0 16px;
    overflow: hidden;
    overflow-y: overlay;
    margin: 0 0 16px;
    &-item {
      font-size: 18px;
      font-weight: 800;
      margin-top: 20px;
      padding: 4px;
      border-radius: 8px;
      margin: 4px 0 8px 0;
      box-shadow:
        0 4px 8px rgba(105, 105, 105, 0.082),
        0 0 1px rgba(22, 21, 21, 0.473);
      background-color: #2727a10a;

      .company {
        padding-left: 10px;

        text-decoration: none;
        font-size: 22px;

        color: rgb(229, 225, 230);
      }
      ul {
        padding: 2px 4px 4px 4px;
        list-style: none;
        li {
          display: flex;
          flex-direction: column;
          gap: 0;

          // background-color: #21212185;
          background-color: #35353a;
          border-radius: 8px;
          padding: 3px 4px;
          margin: 0 0 6px 0;

          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

          .driver {
            font-weight: 800;
            font-size: 16px;
            display: flex;
            align-items: center;

            color: #ffffff;
          }
          .notes {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            padding-right: 2px;

            &__note {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 2px 0 2px 1px;
              border-radius: 8px;

              // background-color: #2c2c2c4f;
              background-color: #2121216e;

              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

              &__text {
                margin-left: 20px;
                padding: 12px 0;
                font-size: 14px;
                color: #cccccc;
                &-ts {
                  line-height: 1;
                  font-size: 10px;
                  margin-top: 8px;
                }
                &-truck {
                  font-size: 16px;
                  font-weight: 800;

                  &-id {
                    color: #ffffff;
                    text-decoration: underline;
                  }
                }
              }
              &__delete {
                padding-right: 8px;

                color: #ff66667c;
                visibility: hidden;
              }
            }
            &__note:hover .notes__note__delete {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  &__footer {
    margin: auto 0 16px;
    display: flex;
    &__btn {
      padding: 4px 18px;
    }
  }
}

.mat-badge-custom {
  .mat-badge-content {
    z-index: 1000000000;
    background: #343eff54;
    color: white;
  }
}
