<div class="menu" cdkMenu>
  <ul>
    <!-- DRIVING ENGINES
    <li (click)="onMenuAction('DELETE_ENGINES_IN_DRIVING')" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon-drv-eng">delete_outline</mat-icon>
      <span class="menu__item__name">delete Engine events that have occured during Driving</span>
    </li> -->

    <!-- ALL ENGINES -->
    <li (click)="onMenuAction('DELETE_ALL_ENGINES')" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon-all-eng">delete_sweep</mat-icon>
      <span class="menu__item__name">delete all Engine events</span>
    </li>

    @if (selectedEvents(); as selectedEvents) {
    @if (selectedEvents.length) {
    <hr />
    <!-- shift -->
    <li (click)="onShiftAction()" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon-all-eng">swap_horiz</mat-icon>
      <span class="menu__item__name">Shift selected Events</span>
    </li>
    <!-- delete -->
    <li (click)="onDeleteSelectedAction()" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon-warning">delete_forever</mat-icon>
      <span class="menu__item__name">Delete selected Event{{ selectedEvents.length > 1 ? "s" : "" }} ({{
        selectedEvents.length
        }})</span>
    </li>
    <!-- paste location -->
    @if (monitorService.copiedEventLocation(); as location) {
    <li (click)="
                contextMenuService.handleMultiEventAction(
                  'PASTE_LOCATION',
                  selectedEvents
                )
              " class="menu__item big">
      <mat-icon style="color: yellow;">content_paste_go</mat-icon>
      <span class="menu__item__name">
        <span class="menu__item__name">Paste location</span>
        <span class="menu__item__name">@ {{ location.geolocation }}</span>
        <span class="menu__item__name">on selected Event{{ selectedEvents.length > 1 ? "s" : "" }} ({{
          selectedEvents.length
          }})
        </span></span>
    </li>
    }
    <!--  zip operation -->
    <li (click)="onZipAction()" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon__rotate">compress</mat-icon>
      <span class="menu__item__name">zip</span>
    </li>
    }

    }
    <!-- <hr>
    <li (click)="onLoadMockLog()" class="menu__item" cdkMenuItem matRipple>
      <mat-icon class="menu__item__icon__rotate">compress</mat-icon>
      <span class="menu__item__name">load mock day (Aug23th)</span>
    </li> -->
  </ul>
</div>