.shortcuts {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 4px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 16px;
    align-items: center;

    p {
      margin: 0;
    }

    span {
      font-weight: 600;
      white-space: nowrap;
    }
  }

  &__actions {
    justify-content: flex-end;
  }
}
