<div class="info-tab">
  <div class="info-tab__tenant">
    @if (appService.currentTenant(); as tenant) {
    <h2>## {{ tenant.name }}</h2>
    <a href="{{ tenant.domainName }}" target="_blank">{{
      tenant.domainName
    }}</a>
    <p>{{ tenant.customerContactEmail }}</p>
    <hr />
    <p>Contact Person: {{ tenant.customerContactName }}</p>
    <p>Contact Phone: {{ tenant.customerContactPhone }}</p>

    }
  </div>
  <div class="info-tab__extension-version">
    <p>Driver Monitoring Chrome Extension</p>
    <p>version: 0.0.3</p>
  </div>
</div>
