<div class="info-tab">
  <div class="info-tab__tenant">
    @if (appService.currentTenant(); as tenant) {
      <h2>## {{ tenant.name }}</h2>

      <div class="info-tab__tenant-action">
        <button
          mat-icon-button
          matTooltip="add Report Note"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          (click)="uploadData('Add Company Note', 'ChangeToOffDutyStatus')"
        >
          <mat-icon>add_circle</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Mark Company"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          [disabled]="!isEmpty(backendData()?.companyMarkers)"
          (click)="
            uploadData(
              'Add Company Marker',
              'EnginePowerUpConventionalLocationPrecision'
            )
          "
        >
          <mat-icon>copyright</mat-icon>
        </button>
      </div>

      <div class="info-tab__tenant__group">
        <span>domain</span
        ><span
          ><a href="{{ tenant.domainName }}" target="_blank">{{
            tenant.domainName
          }}</a></span
        >
      </div>
      <div class="info-tab__tenant__group">
        <span>e-mail</span><span>{{ tenant.customerContactEmail }}</span>
      </div>
      <div class="info-tab__tenant__group">
        <span>contact person:</span
        ><span>{{ tenant.customerContactName }}</span>
      </div>
      <div class="info-tab__tenant__group">
        <span>contact phone:</span
        ><span>{{ tenant.customerContactPhone }}</span>
      </div>
    }
  </div>

  @if (backendData(); as data) {
    <div class="info-tab__log">
      @if (
        !isEmpty(data.companyMarkers) && data.companyMarkers;
        as companyMarkers
      ) {
        <div class="info-tab__log__data__marker">
          <span
            class="info-tab__log__data__marker__title"
            [style]="
              'color: ' +
              (data.companyMarkColor === 'blue'
                ? 'rgb(126, 133, 231)'
                : 'red') +
              ';'
            "
            >*** company marker
          </span>
          @for (singleNote of companyMarkers | keyvalue; track singleNote.key) {
            <div class="info-tab__log__data__marker__note">
              <span class="info-tab__log__data__marker__note__text">
                {{ getNote(singleNote.value) }}
                <br />
                <span class="info-tab__log__data__marker__note-ts">
                  {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                  -

                  {{ singleNote.key | dateAgo }}
                </span>
              </span>
              <a
                mat-icon-button
                matTooltip="Done"
                class="info-tab__log__data__marker__note__delete"
                (click)="deleteNote(singleNote.value, singleNote.key)"
                [disabled]="backendService.isDeletingNote()"
              >
                @if (singleNote.key === backendService.isDeletingNote()) {
                  <mat-spinner [diameter]="24"></mat-spinner>
                } @else {
                  <span class="material-icons"> clear </span>
                }
              </a>
            </div>
          }
        </div>
      }
      @if (!isEmpty(data.companyNotes) && data.companyNotes; as companyNotes) {
        <div class="info-tab__log__data__marker">
          <span
            class="info-tab__log__data__marker__title"
            style="color: #3b82f6"
            >company notes</span
          >
          @for (singleNote of companyNotes | keyvalue; track singleNote.key) {
            <div class="info-tab__log__data__marker__note">
              <span class="info-tab__log__data__marker__note__text">
                {{ getNote(singleNote.value) }}
                <br />
                <span class="info-tab__log__data__marker__note-ts">
                  {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                  -

                  {{ singleNote.key | dateAgo }}
                </span>
              </span>
              <a
                mat-icon-button
                matTooltip="Done"
                class="info-tab__log__data__marker__note__delete"
                (click)="deleteNote(singleNote.value, singleNote.key)"
                [disabled]="backendService.isDeletingNote()"
              >
                @if (singleNote.key === backendService.isDeletingNote()) {
                  <mat-spinner [diameter]="24"></mat-spinner>
                } @else {
                  <span class="material-icons"> clear </span>
                }
              </a>
            </div>
          }
        </div>
      }
      @if (
        !isEmpty(data.companyArchiveNotes) && data.companyArchiveNotes;
        as companyArchiveNotes
      ) {
        <div class="info-tab__log__data__marker">
          <span class="info-tab__log__data__marker__title"
            >company archive notes</span
          >
          @for (
            singleNote of companyArchiveNotes | keyvalue;
            track singleNote.key
          ) {
            <div class="info-tab__log__data__marker__note">
              <span class="info-tab__log__data__marker__note__text">
                {{ getNote(singleNote.value) }}
                <br />
                <span class="info-tab__log__data__marker__note-ts">
                  {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                  -

                  {{ singleNote.key | dateAgo }}
                </span>
              </span>
              <a
                mat-icon-button
                matTooltip="Done"
                class="info-tab__log__data__marker__note__delete"
                (click)="deleteNote(singleNote.value, singleNote.key, true)"
                [disabled]="backendService.isDeletingNote()"
              >
                @if (singleNote.key === backendService.isDeletingNote()) {
                  <mat-spinner [diameter]="24"></mat-spinner>
                } @else {
                  <span class="material-icons"> clear </span>
                }
              </a>
            </div>
          }
        </div>
      }
    </div>
  }

  @if (monitorService.driverDailyLog(); as driverDailyLog) {
    <div class="info-tab__info">
      <h2 class="info-tab__info__driver-name">
        {{ driverDailyLog.driverFullName }}
      </h2>

      <div class="info-tab__info__driver-buttons">
        <button
          mat-icon-button
          matTooltip="add Report Note"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          (click)="uploadData('Add Note', 'ChangeToOffDutyStatus')"
        >
          <mat-icon>add_circle</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Bring Attention to a Problem"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          (click)="
            uploadData(
              'Bring Attention to a Problem',
              'ChangeToSleeperBerthStatus',
              monitorService.driverDailyLog()?.vehicles
            )
          "
        >
          <mat-icon>warning</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="report issued Malf. Letter"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          (click)="
            uploadData(
              'report issued Malf. Letter',
              'IntermediateLogConventionalLocationPrecision',
              monitorService.driverDailyLog()?.vehicles
            )
          "
        >
          <mat-icon>mail_asterisk</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Mark Driver"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="0"
          matTooltipPosition="below"
          [disabled]="backendData()?.driverMarker"
          (click)="
            uploadData(
              'Add Driver Marker',
              'EngineShutDownConventionalLocationPrecision'
            )
          "
        >
          <mat-icon>attribution</mat-icon>
        </button>
      </div>

      @if (!showGetLogInfo() && driver(); as driver) {
        <br />
        <div class="info-tab__info__group">
          <span>driver id</span><span>{{ driver.driverId }}</span>
        </div>
        <div class="info-tab__info__group">
          <span>status</span><span>{{ driver.driverStatus }}</span>
        </div>
        <div class="info-tab__info__group">
          <span>app type</span><span>{{ driver.mobileAppType }}</span>
        </div>
        <div class="info-tab__info__group">
          <span>app version</span><span>{{ driver.mobileAppVersion }}</span>
        </div>

        @if (driver.lastSync !== "error") {
          <div class="info-tab__info__group">
            <span>last sync</span>
            <span>{{ driver.lastSync | date: "HH:mm:ss MMMM d, y" }}</span>
          </div>
          <div class="info-tab__info__group">
            <span> </span><span>({{ driver.lastSync | dateAgo }})</span>
          </div>
        }

        <div class="info-tab__info__group">
          <span>timezone:</span
          ><span>{{
            monitorService.driverDailyLog()?.homeTerminalTimeZone
          }}</span>
        </div>
        <span class="info-tab__info__single">{{
          monitorService.driverDailyLog()?.windowsHomeTerminalZone
        }}</span>
      }
      @if (showGetLogInfo()) {
        <button
          (click)="getLogs()"
          matButton="tonal"
          class="info-tab__info__get-info"
        >
          <mat-icon>download_2</mat-icon> get Log Info
        </button>
      } @else {
        <button
          (click)="hideLogs()"
          matButton="tonal"
          class="info-tab__info__get-info"
        >
          <mat-icon>arrow_drop_up</mat-icon>hide
        </button>
      }
    </div>

    <div class="info-tab__log">
      <!--  -->
      <!-- backendData -->
      @if (backendData(); as data) {
        <!-- driverMarker -->
        @if (data.driverMarker; as driverMarker) {
          <div class="info-tab__log__data__marker">
            <span
              class="info-tab__log__data__marker__title"
              [style]="
                'color: ' +
                (data.driverMarkColor === 'blue'
                  ? 'rgb(126, 133, 231)'
                  : 'red') +
                ';'
              "
              >*** driver marker</span
            >
            @for (singleNote of driverMarker | keyvalue; track singleNote.key) {
              <div class="info-tab__log__data__marker__note">
                <span class="info-tab__log__data__marker__note__text">
                  {{ getNote(singleNote.value) }}
                  <br />
                  <span class="info-tab__log__data__marker__note-ts">
                    {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                    -

                    {{ singleNote.key | dateAgo }}
                  </span>
                </span>
                <a
                  mat-icon-button
                  matTooltip="Done"
                  class="info-tab__log__data__marker__note__delete"
                  (click)="deleteNote(singleNote.value, singleNote.key)"
                  [disabled]="backendService.isDeletingNote()"
                >
                  @if (singleNote.key === backendService.isDeletingNote()) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                  } @else {
                    <span class="material-icons"> clear </span>
                  }
                </a>
              </div>
            }
          </div>
        }

        <!-- truck problems -->
        @if (data.isTruckProblem && data.truckProblems; as problems) {
          <div class="info-tab__log__data__issues">
            <span
              class="info-tab__log__data__issues__title"
              style="color: #e7b008"
              >truck issues</span
            >
            @for (singleNote of problems | keyvalue; track singleNote.key) {
              <div class="info-tab__log__data__issues__note">
                <span class="info-tab__log__data__issues__note__text">
                  @if (
                    singleNote.key === data.truckProblemStamp &&
                      singleNote.value[0].vehicleData;
                    as vehicleData
                  ) {
                    <span class="info-tab__log__data__issues__note__text-truck">
                      Truck ID:
                      <span
                        class="info-tab__log__data__issues__note__text-truck-id"
                        >{{ vehicleData.name }}
                      </span>
                    </span>
                    <br />
                  }
                  {{ getNote(singleNote.value) }}

                  <br />
                  <span class="info-tab__log__data__marker__note-ts">
                    {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                    -

                    {{ singleNote.key | dateAgo }}
                  </span>
                </span>
                <a
                  mat-icon-button
                  matTooltip="Done"
                  class="info-tab__log__data__issues__note__delete"
                  (click)="deleteNote(singleNote.value, singleNote.key)"
                  [disabled]="backendService.isDeletingNote()"
                >
                  @if (singleNote.key === backendService.isDeletingNote()) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                  } @else {
                    <span class="material-icons"> clear </span>
                  }
                </a>
              </div>
            }
          </div>
        }

        <!-- problems -->
        @if (data.problems; as problems) {
          <div class="info-tab__log__data__issues">
            <span class="info-tab__log__data__issues__title" `
              >driver issues</span
            >
            @for (singleNote of problems | keyvalue; track singleNote.key) {
              <div class="info-tab__log__data__issues__note">
                <span class="info-tab__log__data__issues__note__text">
                  @if (singleNote.value[0].vehicleData; as vehicleData) {
                    <span class="info-tab__log__data__issues__note__text-truck">
                      Truck ID:
                      <span
                        class="info-tab__log__data__issues__note__text-truck-id"
                        >{{ vehicleData.name }}
                      </span>
                    </span>
                    <br />
                  }
                  {{ getNote(singleNote.value) }}

                  <br />
                  <span class="info-tab__log__data__marker__note-ts">
                    {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                    -

                    {{ singleNote.key | dateAgo }}
                  </span>
                </span>
                <a
                  mat-icon-button
                  matTooltip="Done"
                  class="info-tab__log__data__issues__note__delete"
                  (click)="deleteNote(singleNote.value, singleNote.key)"
                  [disabled]="backendService.isDeletingNote()"
                >
                  @if (singleNote.key === backendService.isDeletingNote()) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                  } @else {
                    <span class="material-icons"> clear </span>
                  }
                </a>
              </div>
            }
          </div>
        }

        <!-- driverNotes -->
        @if (data.driverNotes; as driverNotes) {
          <div class="info-tab__log__data__notes">
            <span
              class="info-tab__log__data__notes__title"
              style="color: #3b82f6"
              >driver notes</span
            >
            @for (singleNote of driverNotes | keyvalue; track singleNote.key) {
              <div class="info-tab__log__data__notes__note">
                <span class="info-tab__log__data__notes__note__text">
                  {{ getNote(singleNote.value) }}
                  <br />
                  <span class="info-tab__log__data__marker__note-ts">
                    {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                    -

                    {{ singleNote.key | dateAgo }}
                  </span>
                </span>
                <a
                  mat-icon-button
                  matTooltip="Done"
                  class="info-tab__log__data__notes__note__delete"
                  (click)="deleteNote(singleNote.value, singleNote.key)"
                  [disabled]="backendService.isDeletingNote()"
                >
                  @if (singleNote.key === backendService.isDeletingNote()) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                  } @else {
                    <span class="material-icons"> clear </span>
                  }
                </a>
              </div>
            }
          </div>
        }
        <!-- driverArchiveNotes -->
        @if (data.driverArchiveNotes; as driverArchiveNotes) {
          <div class="info-tab__log__data__notes">
            <span class="info-tab__log__data__notes__title"
              >driver archive notes</span
            >
            @for (
              singleNote of driverArchiveNotes | keyvalue;
              track singleNote.key
            ) {
              <div class="info-tab__log__data__notes__note">
                <span class="info-tab__log__data__notes__note__text">
                  {{ getNote(singleNote.value) }}
                  <br />
                  <span class="info-tab__log__data__marker__note-ts">
                    {{ singleNote.key | date: "MMM d, y, h:mm a" }}

                    -

                    {{ singleNote.key | dateAgo }}
                  </span>
                </span>
                <a
                  mat-icon-button
                  matTooltip="Done"
                  class="info-tab__log__data__notes__note__delete"
                  (click)="deleteNote(singleNote.value, singleNote.key, true)"
                  [disabled]="backendService.isDeletingNote()"
                >
                  @if (singleNote.key === backendService.isDeletingNote()) {
                    <mat-spinner [diameter]="24"></mat-spinner>
                  } @else {
                    <span class="material-icons"> clear </span>
                  }
                </a>
              </div>
            }
          </div>
        }
      }
    </div>
    <!-- 
    <button class="info-tab__back" matButton="tonal" (click)="hideInfo()">
      <mat-icon>arrow_back</mat-icon>
      back to Monitor tab
    </button> -->
  }

  <!-- <button
    (click)="logActiveDriversPerCompany()"
    [disabled]="isDisabledElConejo"
    class="sexy-button"
    mat-button
  >
    botón para el Conejo
  </button> -->

  <!-- <div class="info-tab__extension-version">
    <p>Driver Monitoring Chrome Extension</p>
    <p>version: {{ constService.extensionVersion() }}</p>
  </div> -->
</div>
