<div class="info-tab">
  <div class="info-tab__tenant">
    @if (appService.currentTenant(); as tenant) {
    <h2>## {{ tenant.name }}</h2>
    <a href="{{ tenant.domainName }}" target="_blank">{{
      tenant.domainName
    }}</a>
    <p>{{ tenant.customerContactEmail }}</p>
    <hr />
    <p>Contact Person: {{ tenant.customerContactName }}</p>
    <p>Contact Phone: {{ tenant.customerContactPhone }}</p>
    }
  </div>
  <div class="info-tab__log">
    <!-- @if (appService.currentLogItem(); as driver) {
    <h3>{{ driver.fullName }}</h3>
    <p>ID: {{ driver.driverId }}</p>
    <p>status: {{ driver.driverStatus }}</p>
    <p>home terminal time zone: {{ driver.homeTerminalTimeZone }}</p>
    <p>app type: {{ driver.mobileAppType }}</p>
    <p>app version: {{ driver.mobileAppVersion }}</p>
    <p>last sync: {{ driver.lastSync }}</p>
    } -->
    <button (click)="getLogs()">get</button>
    @if (driver(); as driver) {
    <h3>{{ driver.fullName }}</h3>
    <p>ID: {{ driver.driverId }}</p>
    <p>status: {{ driver.driverStatus }}</p>
    <p>time zone name: {{ driver.homeTerminalTimeZone }}</p>
    <p>
      time zone name:
      {{ monitorService.driverDailyLog()?.homeTerminalTimeZone }}
    </p>
    <p>
      windows timezone:
      {{ monitorService.driverDailyLog()?.windowsHomeTerminalZone }}
    </p>
    <p>app type: {{ driver.mobileAppType }}</p>
    <p>app version: {{ driver.mobileAppVersion }}</p>
    <p>last sync: {{ driver.lastSync | date : "HH:mm:ss MMMM d, y" }}</p>
    }
  </div>

  <div class="info-tab__extension-version">
    <p>Driver Monitoring Chrome Extension</p>
    <p>version: 0.0.3</p>
  </div>
</div>
