.test {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  .group {
    width: 270px;
    // width: 90vw;
    display: grid;
    align-items: center;
    grid-template-columns: 25fr 22fr 22fr;
    font-size: 13;
    :first-child {
      margin-right: 4px;
    }
    :last-child {
      text-align: right;
      margin-left: 4px;
    }
  }

  // .slider {
  //   max-width: 180px;
  // }
}
