<div class="test">
  <div class="group">
    <mat-label
      >Pre-Trip <br />
      Inspection length</mat-label
    >
    <mat-slider class="slider" [max]="901" [min]="781" [step]="1">
      <input
        matSliderThumb
        class="thumb"
        [(ngModel)]="ptiDurationSliderValue"
      />
    </mat-slider>
    <mat-label class="label-right">
      <
      {{
        ptiDurationSliderValue() * 1000 | date: "mm:ss" : "UTC"
      }}min</mat-label
    >
  </div>

  <div class="group">
    <mat-label
      >On Duty <br />
      status length</mat-label
    >
    <mat-slider class="slider" [max]="7200" [min]="1800" [step]="1">
      <input matSliderThumb [(ngModel)]="sliderValue" />
    </mat-slider>
    <mat-label class="example-value-mat-label"
      >{{ sliderValue() * 1000 | date: "H:mm" : "UTC" }}h+</mat-label
    >
  </div>

  <div class="group">
    <mat-label>speeding</mat-label>
    <mat-slider class="slider" [max]="79.99" [min]="74.99" [step]="0.01">
      <input matSliderThumb [(ngModel)]="speeding" />
    </mat-slider>
    <mat-label class="example-value-mat-label">{{ speeding() }}mph+</mat-label>
  </div>

  <div class="group">
    <mat-label
      >Sleeper Berth<br />
      status length</mat-label
    >
    <mat-slider class="slider" [max]="34" [min]="20" [step]="1">
      <input matSliderThumb [(ngModel)]="sleeperDuration" />
    </mat-slider>
    <mat-label class="label-right"> {{ sleeperDuration() }}h+</mat-label>
  </div>

  <div class="group">
    <mat-label
      >elapsed <br />
      Engine Hours</mat-label
    >
    <mat-slider class="slider" [max]="34" [min]="8" [step]="1">
      <input matSliderThumb [(ngModel)]="engineSliderValue" />
    </mat-slider>
    <mat-label> {{ engineSliderValue() }}h+</mat-label>
  </div>

  <div class="group">
    <mat-label
      >total <br />
      Engine Hours</mat-label
    >
    <mat-slider class="slider" [max]="2000" [min]="0" [step]="25">
      <input matSliderThumb [(ngModel)]="lowTotalEngineHoursCount" />
    </mat-slider>
    <mat-label>< {{ lowTotalEngineHoursCount() }} EH</mat-label>
  </div>
</div>
