.test {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  :last-child {
    margin-bottom: 0;
  }

  .group {
    width: 90vw;
    max-width: 300px;
    display: grid;
    align-items: center;
    grid-template-columns: 26fr auto 22fr;
    font-size: 13;
    margin-bottom: -8px;
    :first-child {
      text-align: left;
    }
    :last-child {
      text-align: right;
    }
  }
}
